<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner"
  [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">SMS pricing</h3>
    <p class="wow fadeInUp" data-wow-delay="0.4s">Please note this is an estimated pricing. SMS pricing depends on
      target country.</p>
  </div>
</section>
<!-- slider-area-end -->

<!-- About -->
<section class="pt-40 pb-40">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">
      <div class="col-sm-8 col-md-9 mt-3">
        <h4 class="wow fadeInUp title-h4" data-wow-delay="0.2s" id="cty1">Asia <code class="highlighter-rouge">All prices in USD</code></h4>
        <div class="table-responsive wow fadeInUp" data-wow-delay="0.2s">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" width="70%">Country</th>
                <th scope="col" width="30%">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cambodia</td>
                <td>0.037</td>
              </tr>
              <tr>
                <td>China</td>
                <td>0.0067</td>
              </tr>
              <tr>
                <td>Malaysia</td>
                <td>0.041</td>
              </tr>
              <tr>
                <td>Japan</td>
                <td>0.067</td>
              </tr>
              <tr>
                <td>Malaysia</td>
                <td>0.018 (local) </td>
              </tr>
              <tr>
                <td>Philippines</td>
                <td>0.006</td>
              </tr>
              <tr>
                <td>Pakistan</td>
                <td>0.034</td>
              </tr>
              <tr>
                <td>Singapore</td>
                <td>0.034</td>
              </tr>
              <tr>
                <td>Taiwan</td>
                <td>0.025</td>
              </tr>
              <tr>
                <td>Indonesia</td>
                <td>0.016 (local) </td>
              </tr>
              <tr>
                <td>Indonesia</td>
                <td>0.0.034(Int'l)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="wow fadeInUp title-h4" data-wow-delay="0.2s" id="cty2">Europe <code class="highlighter-rouge">All prices in USD</code></h4>
        <div class="table-responsiv wow fadeInUp" data-wow-delay="0.2s">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th scope="col" width="70%">Country</th>
                  <th scope="col" width="30%">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>France</td>
                <td>0.054</td>
              </tr>
              <tr>
                <td>Italy</td>
                <td>0.036</td>
              </tr>
              <tr>
                <td>Spain</td>
                <td>0.034</td>
              </tr>
              <tr>
                <td>Poland</td>
                <td>0.056</td>
              </tr>
              <tr>
                <td>Netherlands</td>
                <td>0.078 </td>
              </tr>
              <tr>
                <td>Germany</td>
                <td>0.062</td>
              </tr>
              <tr>
                <td>UK</td>
                <td>0.032</td>
              </tr>
              <tr>
                <td>Poland</td>
                <td>0.056</td>
              </tr>
              <tr>
                <td>Romania</td>
                <td>0.056</td>
              </tr>
              <tr>
                <td>Belgium</td>
                <td>0.089 </td>
              </tr>
              <tr>
                <td>Portugal</td>
                <td>0.0.058</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="wow fadeInUp title-h4" data-wow-delay="0.2s" id="cty3">Americas <code class="highlighter-rouge">All prices in USD</code></h4>
        <div class="table-responsive wow fadeInUp" data-wow-delay="0.2s">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th scope="col" width="70%">Country</th>
                  <th scope="col" width="30%">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>United states</td>
                <td>0.034</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mt-5 d-none d-sm-block col-sm-4 col-md-3 sticky-nav">
        <ul class="sticky-nav-lists">
          <li><a pageScroll [pageScrollOffset]="80" href="#cty1">Asia</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#cty2">Europe</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#cty3">Americas</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Store-end -->
