<div class="container-fluid" id="navbar">
  <div class="row align-items-center">
    <div class="col-sm-12 col-lg-4 col-xl-4">
      <div class="header__logo">
        <a routerLink="/" class="default-logo">
          <img class="main-logo" [src]="'assets/img/logo/logo.svg'" alt="logo">
          <img class="gdpr-logo" [src]="'assets/img/logo/gdpr-normal.svg'" alt="gdpr logo">
        </a>
        <a routerLink="/" class="sticky-logo">
          <img class="main-logo" [src]="'assets/img/logo/logo-clr.svg'" alt="logo">
          <img class="gdpr-logo" [src]="'assets/img/logo/gdpr-clr.svg'" alt="gdpr logo">
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 col-xl-8">
      <div class="header__menu main-menu text-right">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" (click)="show = !show">
            <span class="navbar-icon"></span>
            <span class="navbar-icon"></span>
            <span class="navbar-icon"></span>
          </button>
          <div class="navCollapse" [class.opened]="show">
            <ul class="navbar-nav">
              <li class="nav-item" (click)="navigate()" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/solution">Solution </a>
              </li>
              <li class="nav-item" (click)="navigate()" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/product">Product</a>
              </li>
              <!-- <li class="nav-item" (click)="navigate()" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/pricing">Pricing</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="//docs.travlytix.com" target="_blank">Tech docs</a></li>
                  <li><a class="dropdown-item" href="//blog.travlytix.com/" target="_blank">Blog</a></li>
                  <li><a class="dropdown-item" href="//help.travlytix.com/hc" target="_blank">Knowledge base</a></li>
                  <li><a class="dropdown-item" routerLink="/campaign-examples" href="#">Campaign Examples </a></li>
                </ul>
              </li>

              <li class="nav-item" (click)="navigate()" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/demo"> <span class="btn btn-primary">Request Demo</span> </a>
              </li>
              
              <li class="nav-item" (click)="navigate()"><a class="nav-link" href="//app.travlytix.com/" target="_blank">Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
