<div class="container">
  <div class="row mb-50 ">
    <div class="col-sm-6 col-md-3">
      <div class="footer__widget mb-30">
        <div class="footer__widget-title mb-30">
          <h4>Company</h4>
        </div>
        <div class="footer__widget-link">
          <ul>
            <li><a routerLink="/about">About Travlytix</a></li>
            <li><a routerLink="/terms">Terms &amp; Conditions</a></li>
            <li><a routerLink="/privacy-policy">Privacy policy</a></li>
            <li><a routerLink="/gdpr">GDPR</a></li>
            <!-- <li><a href="https://www.goquo.com/join-us" target="_blank">Careers </a></li> -->
            <li><a href="https://blog.travlytix.com/" target="_blank">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="footer__widget mb-30">
        <div class="footer__widget-title mb-30">
          <h4>Offering</h4>
        </div>
        <div class="footer__widget-link">
          <ul>
            <li><a routerLink="/solution" href="#dataDriven">Data Engineering</a></li>
            <li><a pageScroll routerLink="/product" href="#dataDriven">Marketing Automation</a></li>
            <li><a pageScroll routerLink="/product" href="#customerView">Customer 360</a></li>
            <li><a pageScroll routerLink="/product" href="#analyseGovern">Reporting </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="footer__widget sm-padding mb-30 pl-50">
        <div class="footer__widget-title mb-30">
          <h4>News Feeds</h4>
        </div>
        <div class="footer__widget-post">
          <ul>
            <li *ngFor="let postData of blogDataListing | slice:0:3; let i=index">
              <div class="post-thumb">
                <img class="img-fluid" src="assets/img/blog/blog_0{{i+1}}.jpg" alt="blog image-{{i}}">
              </div>
              <div class="post-content">
                <h3><a [href]="postData.link" target="_blank">{{postData.title.rendered}}</a></h3>
                <div class="meta-info">
                  <span><i class="icon icon-calendar"></i> {{postData.modified | date}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="partner-logo">
  <div class="container">
    <div class="row">
      <div class="col">        
        <ul class="list-inline">
          <li class="list-inline-item"><img src="assets/img/logo/google-partner-logo.svg" alt="google-partner-logo"></li>
          <li class="list-inline-item"><img src="assets/img/logo/gdpr-clr.svg" alt="google-partner-logo" style=" position: relative; top: 3px;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="copyright-wrap">
  <div class="copyright__text text-center">
    <p>Copyright All Right Reserved By Travlytix - 2019</p>
  </div>
</div>
