// stylelint-disable declaration-no-important

//
// Right side table of contents
//

.sticky-nav {
  @supports (position: sticky) {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include font-size(.875rem);
}

.sticky-nav-lists {
  padding-left: 0;
  border-left: 1px solid #eee;

  ul {
    padding-left: 1rem;
  }

  li {
    display: block;
  
    a {
      display: block;
      padding: .125rem 1.5rem;
      color: #77757a;
  
      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

}



