.top-process {
  img {
    height: 70px;
  }
}

.slide-list {
  padding-left: 20px;
  line-height: 2;

  li {
    list-style: inherit;
  }
}


.ng5-slider {
  margin-bottom: 50px !important;

  @include media-breakpoint-up(md) {
    &.mb-0 {
      margin-bottom: 0 !important;
    }
    &.mb-1 {
      margin-bottom: 10px !important;
    }
  }

  .ng5-slider-pointer {
    outline: none;
    background-color: $theme-color !important;
    top: -12px !important;

    &.ng5-slider-pointer {
      &:after {
        background-color: white !important;
      }
    }
  }

  .ng5-slider-bar-wrapper {
    margin-top: -36px !important;
    padding-top: 36px !important;
  }

  .ng5-slider-selection {
    background: $theme-color !important;
  }

  .ng5-slider-bar {
    height: 8px !important;
  }
}

.price-card {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;

  .price-col {
    @include media-breakpoint-up(md) {
      padding: 30px 40px;
    }
  }
}

.price-box {
  @include media-breakpoint-up(md) {
    background: $main-color;

    h4,
    h3,
    p {
      color: white;
    }
  }

  .price-value {
    font-size: 30px;
    color: $main-color;

    @include media-breakpoint-up(md) {
      color: lighten($color: $theme-color, $amount: 10%);
    }
  }
}
