/*-- 4. features --*/

.features-area {
  position: relative;

  @media #{$xs} {
    padding: 60px 0;
  }
}

.section__title {
  & span {
    font-size: 14px;
    color: $header-top-color;
    font-weight: $semiBold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
  }

  & h2 {
    font-size: 32px;
    color: $heading-color;
    font-weight: $semiBold;
    margin-bottom: 7px;

    @media #{$md} {
      font-size: 50px;
    }

    @media #{$xs} {
      font-size: 24px;
    }
  }

  & p {
    margin-bottom: 0;
    padding: 0 50px;

    @media #{$xs} {
      padding: 0;
    }
  }

  &.access-title {
    @media #{$md} {
      margin-bottom: 60px;
    }

    @media #{$xs} {
      margin-bottom: 70px;
    }

    & h2 {
      font-size: 70px;
      line-height: 1.1;
      margin-bottom: 30px;

      @media #{$md} {
        font-size: 50px;
      }

      @media #{$xs} {
        font-size: 32px;
      }
    }

    & p {
      font-size: 14px;
      padding-left: 0;
      padding-right: 45px;
      margin-bottom: 35px;

      @media #{$lg} {
        padding-right: 0;
      }

      @media #{$xs} {
        padding-right: 0;
      }
    }

    & .access-btn {
      & .btn {
        background: $theme-color;
        border-color: $theme-color;

        &:hover {
          background: transparent;
          color: $theme-color;
        }
      }
    }
  }

  @include media-breakpoint-only(xs) {
    text-align: center;
    margin-bottom: 25px;
  }
}

.feature__nav {
  border-bottom: 0;

  .nav-tabs {
    display: block;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 80px;

    & .nav-item {
      display: inline-block;
      margin: 0 65px;

      @media #{$md} {
        margin: 0 50px;
      }

      @media #{$sm} {
        margin: 0 10px !important;
      }

      @media #{$xs} {
        margin: 0 5px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      & .nav-link {
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: $semiBold;
        color: $nav-tabs;
        border-radius: 0;
        position: relative;
        padding-left: 20px;

        &.active::before {
          position: absolute;
          content: "";
          bottom: -28px;
          width: 300px;
          height: 2px;
          background: $theme-color;
          left: 50%;
          transform: translateX(-50%);

          @media #{$sm} {
            width: 130px;
          }

          @media #{$xs} {
            content: none;
          }
        }

        & i {
          color: $theme-color;
          margin-right: 15px;
          position: absolute;
          left: -7px;
          font-size: 24px;
          top: -1px;

          @media #{$xs} {
            margin-right: 9px;
          }
        }
      }
    }

    @media #{$xs} {
      margin-bottom: 0;
      padding: 0;
      overflow: auto;
      white-space: nowrap;
      margin-left: -15px;
      margin-right: -15px;
      background: rgba($theme-color, 0.06);
      
      .nav-item {
        margin-bottom: 0;
        display: inline-block;

        .nav-link {
          font-size: 15px;
          margin-left: 20px;
          color: #000000;
          background: transparent;
          border-bottom: 3px solid transparent;
          width: auto;
          padding: 5px 0 15px;
          font-weight: normal;

          i {
            color: inherit;
            font-size: 30px;
            position: relative;
            left: 0;
            top: 12px;
          }

          &.active {
            color: $theme-color;
            border-color: $theme-color;

            i {
              color: $theme-color;
            }
          }
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  &__tab-content {}
}

.single__features {
  &-img {
    margin-left: -85px;

    @media #{$laptop} {
      margin-left: 0;
    }

    @media #{$lg} {
      margin-left: 0;
      text-align: center;
      margin-bottom: 15px;
    }

    @media #{$md} {
      margin-left: 0;
      text-align: center;
      margin-bottom: 15px;
    }

    @media #{$xs} {
      margin-left: 0;
      margin-bottom: 15px;
    }

    & img {
      @media #{$laptop} {
        width: 100%;
      }

      @media #{$xs} {
        width: 100%;
      }
    }
  }

  &-content {
    padding-left: 55px;

    @media #{$lg} {
      padding-left: 0;
    }

    @media #{$md} {
      padding-left: 0;
    }

    @media #{$xs} {
      padding-left: 0;
    }

    & .f-title {
      margin-bottom: 35px;

      @media #{$xs} {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      & h2 {
        font-size: 28px;
        font-weight: $semiBold;
        margin-bottom: 32px;

        @media #{$xs} {
          font-size: 24px;
        }
      }

      & p {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
}

.inner__features {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  & .icon-head {
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 30px;
    color: $theme-color;
    // border: 2px solid $theme-color;
    background: rgba($theme-color, 0.07);
  }

  &-content {
    overflow: hidden;

    & h5 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: $semiBold;
    }

    & p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}

/*-- access-info --*/
.access__info-wrap {
  & .info-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    background: $theme-color;
    border-radius: 50%;
  }

  & .content {
    & h5 {
      font-size: 20px;
      font-weight: $semiBold;
      margin-bottom: 20px;
    }

    & p {
      margin-bottom: 0;
      font-size: 14px;
      padding-right: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    & .info-icon {
      margin: 0 auto 20px auto;
      display: block;
    }
  }
}

.access-sm {
  @media #{$md} {
    padding-top: 110px;
  }

  @media #{$xs} {
    padding-top: 110px;
  }
}


/*-- software-features --*/
.features-p {
  @media #{$lg} {
    padding-bottom: 120px;
  }
}

.s-featres-title {
  & h1 {
    margin-bottom: 30px;
  }

  & p {
    padding-left: 0px;

    @media #{$lg} {
      padding-right: 0;
    }
  }
}

.s-features__list {
  & ul li {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media #{$sm} {
      display: flex;
    }

    & i {
      float: left;
      background: $list-color;
      height: 40px;
      width: 40px;
      display: block;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      color: $theme-color;
      margin-right: 20px;
      font-size: 11px;
      @include transition(.3s);
    }

    & p {
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 0;
      width: calc(100% - 70px);
      @include transition(.3s)
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      & i {
        background: $theme-color;
        color: $white;
      }
    }
  }

  &.list-sm ul li {
    margin-bottom: 10px;

    i {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin-right: 15px;
      font-size: 10px;
    }
  }
}

.s-features__btn {
  @media #{$md} {
    margin-bottom: 50px;
  }

  @media #{$xs} {
    margin-bottom: 50px;
  }

  & .btn {
    background: $theme-color;
    border-color: $theme-color;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      background: transparent;
      color: $theme-color;
    }
  }
}

.s-features-padding {
  @media #{$xs} {
    padding-top: 30px;
  }
}

.s__features-wrap {
  padding: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  padding-top: 0;

  @media #{$xs} {
    margin-top: 50px;
  }

  @media #{$lg} {
    padding: 12px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  & .icon-head {
    background: lighten($color: $theme-color, $amount: 58%);
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 130px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-top: -50px;
    top: 0;
    color: $theme-color;
    border: 2px dashed rgba($theme-color, 0.35);

    .icon {
      font-size: 40px
    }

    @media #{$xs} {
      margin-top: 50px;
      height: 60px;
      width: 60px;
      top: -12px;
      line-height: 60px;
      margin-top: 0px;

      .icon {
        font-size: 27px;
        line-height: 55px;
      }
    }

  }

  &-content {
    margin-top: 20px;

    & h4 {
      font-size: 24px;
      margin-bottom: 25px;

      @media #{$xs} {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    & p {
      font-size: 14px;
      margin-bottom: 0;
    }

    @media #{$xs} {
      margin-top: 0;
    }
  }
}

.single__bf {
  text-align: center;

  &-content {
    & h3 {
      font-size: 1.875rem;
      line-height: 1.3;
      margin-bottom: 20px;

      @media #{$xs} {
        font-size: 1.375rem;

        & br {
          display: none;
        }
      }
    }

    & p {
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 20px;

      @media #{$xs} {
        margin-right: 0;
      }
    }
  }
}

.single__arrow {
  margin-top: 25px;

  i {
    background: $f-icon;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    color: $theme-color;

    @include media-breakpoint-down(sm) {
      transform: rotate(90deg);
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    right: 0;
    top: 5%;
  }
}

.s__features {
  @include media-breakpoint-down(sm) {
    padding-top: 30px;

    &-wrap {
      margin-top: 30px;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.single__bf-icon {
  img {
    width: 80px;

    @include media-breakpoint-only(xs) {
      width: 70px;
    }
  }
}

.padding-mb {
  @include media-breakpoint-only(xs) {
    padding: 60px 0;
  }
}

.channel-list{
  ul li i{
    border: 1px solid;
    width: 35px;
    height: 35px;
    background: transparent;
    color: white;
    &:before{
      position: relative;
      top: -3px;
    }
  }
}
.campaings__nav{
  .nav-tabs {
    .nav-item{
      margin: 0 40px;
    }
    .nav-link{
      padding-left: 0 !important;
      &.active::before{
        width: 200px !important;
      }
    }
  }
  .single__features-content{
    em{
      color: black;
      font-weight: 600;
    }
  }
  .single__features-img{
    @include media-breakpoint-up(sm) {
      text-align: center;
      .img-fluid{
        width: 80%;
      }
    }
  }
}