.pb_accordion {
  .panel-heading{
    background-color: transparent;
    border-bottom: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  .panel-body{
    padding: 0;
  }
  .card {
    background-color: transparent;
    border: 0; 
    padding-bottom: 10px;

    p{
      margin-bottom: 0;
    }
    .btn-link{
      color: inherit !important;
      border: 0;
      padding: 0;
    }
     .accordion-toggle {
      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: "travlytix-icon";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: $icon-arrow-down-1;
      }
      &[aria-expanded="true"] {
        &:after {
          content: $icon-arrow-down-1;
          transform: rotate(180deg);
        }
        color: $theme-color;
      }
      display: block;
      padding: 10px 0;
      position: relative;
      color: #495057;
    }
    &:last-child > a{
      border: 0;
    }

    .collapse {
      /* setup transition however you like */
      -webkit-transition: max-height 0.5s ease;
      -moz-transition: max-height 0.5s ease;
      -o-transition: max-height 0.5s ease;
      -ms-transition: max-height 0.5s ease;
      transition: max-height 0.5s ease;
      
      /* override display, overflow and visibility */
      display: block!important;
      overflow: hidden!important;
      visibility: visible!important;
      
      max-height: 0;
      
      &.in {
        /* set max-height to something high so that
        it can fit whatever you have inside your collapsible tag.
        Not too high though, because the animation time will be based
        on this value, so if it's too high the animation will be 
        very fast */
        max-height: 1000px;
      }
    }

  }
}