// Font Family

$fonts: 'Google Sans', sans-serif;
$bold: 700;
$regular: 400;
$semiBold: 600;
$medium: 500;
$light: 300;

// Colors ---------------
$white: #ffffff;
$black: #000;
$grey:#f4f9ff;
$main-color: #3f4bf5;
$theme-color: #00CA4C;
$light-theme: #2fff00;
// $main-color: #1d82ff;
// $main-color: #004273;
// $theme-color: #52a500;
$light-theme-color: #fff9f6;
$list-color: #dfffeb;
$body-text-color: #666666;
$header-top-color: #a0a0b9;
$hr-border-color:#efefff;
$slider-text: #d9d8ff;
$footer-menu: #9a9a9a;
$header-btn-bg: #030303;
$number-color: #e0eeff;
$btn-bg: $main-color;
$nav-tabs: #9999c0;
$pricing: #ff6a01;
$pricing-btn: #6b6b91;
$blog-meta: #8786a7;
$f-blog-meta: #5a5a5a;
$blog-border: #e7e7e7;
$input-bg: #101024;
$input-color: #7878a6;
$f-border: #262649;
$f-icon: #dfffeb;
$breadcrumb-color: #a9a7ff;
$pagination-color: #f7f4ff;
$widget-border: #e3e3e3;
$widget-form: #f6f4ff;
$widget-placeholder: #8f8bb8;
$social-border: #e4e4e4;
$cat-color: #7886a0;
$tag-border: #eaeaea;
$blockquote-bg: #f4f4ff;
$d-tag-border: #e5e5e5;
$d-social: #b5becc;
$rp-border: #f4f3fb;
$avatar: #f3f1ff;
$avatar-social: #9498b6;
$bookmark: #cacfef;
$comment-placeholder: #a7a7c1;
$comment-bg: #f8f6ff;


// Head Color
$heading-color: #0a0a19;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

