<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner" [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">Pricing</h3>
  </div>
</section>
<!-- slider-area-end -->

<!-- Price -->
<section class="pt-80 pb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="single__features-img wow fadeInUp" data-wow-delay="0.2s">
          <img [src]="'assets/img/otherpages/pricing.svg'" class="img-fluid" alt="pricing">
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Price-end -->

<section>
  <div class="container">

    <div class="section__title text-center mt-30 mb-40">
      <span>PRICE</span>
      <h2>Estimated pricing plan</h2>
    </div>

    <div class="price-card">
      <div class="row">
        <div class="col-md-6 price-col">
          <h4 class="mb-3 font-weight-bold">Per passenger - starts at $0.03/year</h4>
          <div class="price-card__left">
            <h5 class="font-weight-bold mb-3">Travlytix</h5>
            <ng5-slider [(value)]="paxMin" (userChange)="onUserChange($event)" [options]="paxOption"></ng5-slider>
            
            <h5 class="font-weight-bold mb-3">Email Pricing</h5>
            <ng5-slider [(value)]="mailMin" (userChange)="onMailChange($event)" [options]="mailOption"></ng5-slider>

            <h5 class="font-weight-bold mb-1">Push notifications Pricing <span class="badge badge-primary">‎Subscribers</span>
            </h5>
           <p class="mb-1"><small>Unlimited push notifications to subscribers</small></p>
            <ng5-slider class="mb-1" [(value)]="pnMin" (userChange)="onPnChange($event)" [options]="pnOption"></ng5-slider>
          </div>
          <p class="a-link mt-4 mb-0"><a routerLink="/sms">SMS pricing</a></p>
        </div>
        <div class="col-md-6 price-col price-box">
           <h4 class="mb-3 font-weight-bold">Which Plan Is Right For You?</h4>
          <div class="price-card__right">
            <h3 class="font-weight-bold"><strong>Scale {{passengerCount}}</strong></h3>
            <p>The estimated monthly price is a recurring subscription charge for using Travlytix. The email and SMS prices vary by volume of messages sent. Please check FAQ below and contact us for detailed quote.</p>
            <p><strong>Estimate <span class="price-value">{{totalPrice  | currency}}</span>/mo</strong></p>
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Store -->
<section class="grey-bg pt-80 pb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section__title s-featres-title mb-40">
          <h2>Faq</h2>
        </div>

        <accordion class="pb_accordion">
          <accordion-group heading="What is Travlytix?" [isOpen]="isFirstOpen">
            <p>Travlytix is a customer data platform catered to airlines and travel e-commerce solutions</p>
          </accordion-group>
          <accordion-group heading="Is there a set up fee?">
            <p>Yes, there is a one-time setup fee towards data engineering and getting your data ready. Please contact us for detailed quote</p>
          </accordion-group>
          <accordion-group heading="Is this the final cost for Travlytix?">
            <p>This is monthly estimated cost for deploying Travlytix application for your solution. Final cost depends on number of marketing communication you use.</p>
          </accordion-group>
          <accordion-group heading="What are email &amp; sms costs?">
            <p>Emails and SMS are sent using a gateway and most gateways across the globe charge by volume. The above prices are competitive and you pay as you go.</p>
          </accordion-group>
          <accordion-group heading="Do I pay monthly or yearly?">
            <p>You are free to make your scheduled payments monthly or yearly. We strongly recommend making yearly payments for uninterrupted services</p>
          </accordion-group>
        </accordion>

        <div id="pb_faq" class="pb_accordion" data-children=".item"> 
          <div class="item">
            <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq4" aria-expanded="false" aria-controls="pb_faq4"
              class="pb_font-22 py-4"></a>
            <div id="pb_faq4" class="collapse" role="tabpanel">
              <div class="py-3">
                <p></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Store-end -->
