<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner"
  [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">Data Processing Addendum</h3>
  </div>
</section>
<!-- slider-area-end -->

<!-- About -->
<section class="pt-40 pb-40">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">
      <div class="col-sm-8 mt-3">
        <div class="num-list">
          <ol>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="app-add"><b>APLICATION OF THIS ADDENDUM</b>
              <ol>
                <li>Subject to clause 1.3, this Data Processing Addendum (Addendum) applies if the Processing (as
                  defined
                  below)
                  of Data (as defined in our Website Terms of Use at <a href="https://www.travlytix.com/#/terms"
                    class="a-link" target="_blank">www.travlytix.com/#/terms</a> (Terms)) is governed by the GDPR (as
                  defined below).</li>
                <li>If this Addendum applies, this Addendum forms part of the Terms between us and you (as defined in
                  the
                  Terms)
                  and sets out the parties’ agreement in relation to the processing of Data in accordance with the
                  requirements
                  of European Union data protection laws and regulations.</li>
                <li>This Addendum also includes Standard Contractual Clauses (as defined below), which are pre-signed by
                  us and
                  form part of this Addendum. If you would like to counter-sign the Standard Contractual Clauses, please
                  complete the necessary details, countersign the Standard Contractual Clauses, and return a
                  counter-signed copy
                  to us at <a class="theme-color" href="mailto: aaron@goquo.com">aaron@goquo.com.</a></li>
                <li>Except as varied in this Addendum (including the Standard Contractual Clauses, if applicable) all
                  terms and
                  conditions set out in the Terms continue to apply.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="interpretation"><b>INTERPRETATION</b>
              <ol>
                <li>Unless the context requires otherwise:
                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>capitalised terms used, but not defined, in this Addendum will have the meanings given to
                          them
                          in the
                          GDPR (or, if not defined in the GDPR, the Terms);</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>the rules of interpretation set out in the Terms apply to this Addendum; and</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>references to clauses are references to the clauses in this Addendum.</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>In this Addendum:
                  <p>Applicable Data Protection Laws means EU Data Protection Laws and any applicable data protection or
                    privacy
                    laws of any other country</p>
                  <p>EEA means the European Economic Area</p>
                  <p>EU Data Protection Laws means all laws and regulations, including laws and regulations of the
                    European Union,
                    the EEA and their member states and (if the United Kingdom ceases to be a member state) the United
                    Kingdom,
                    that apply to the Processing of Data under the Terms, including (where applicable) the GDPR</p>
                  <p>GDPR means the European Union General Data Protection Regulation 2016/679 </p>
                  <p>Instruction means the instructions set out in clause 3.3 or agreed under clause 3.4 </p>
                  <p>Personal Data means all Data which is personal data, personally identifiable information or
                    personal
                    information under Applicable Data Protection Laws (as applicable under those laws)</p>
                  <p>Processing means any operation or set of operations which is performed upon Personal Data, whether
                    or
                    not by
                    automated means, such as collection, recording, organisation, storage, adaptation or alteration,
                    retrieval,
                    consultation, use, disclosure by transmission, dissemination or otherwise making available,
                    alignment
                    or
                    combination, blocking, erasure or destruction. Process has a consistent meaning</p>
                  <p>Standard Contractual Clauses means the standard contractual clauses set out in Schedule 3, as may
                    be
                    amended
                    under clause 12.1.</p>
                  <p>Sub-Processor means any person appointed by us or on our behalf to Process Personal Data on your
                    behalf in
                    connection with the Terms</p>
                </li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="per-data"> <b>PROCESSING OF PERSONAL DATA</b>
              <ol>
                <li>With respect to the Processing of Personal Data under the Terms:
                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>you act as the Data Controller;</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>we act as the Data Processor; and </p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>subject to clause 6, we may engage the Sub-Processors listed in Schedule 2.</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>We will comply with all Applicable Data Protection Laws that apply to our Processing of Personal
                  Data
                  on your behalf, including all EU Data Protection Laws that apply to Data Processors. </li>
                <li>You must, when using the Service, comply with all Applicable Data Protection Laws that apply to your
                  Processing of Personal Data, including all EU Data Protection Laws that apply to Data Controllers.
                </li>
                <li>You instruct us to Process Personal Data and in particular, subject to clause 6, transfer Personal
                  Data to any country or territory:
                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>as reasonably necessary to provide the Service in accordance with the Terms;</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>as initiated through the use of the Service by you, your Personnel and other end users you
                          allow to use the Service; and</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>to comply with any further instruction from you (including by email or through our support
                          channels) that is consistent with the Terms and this Addendum.</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>This Addendum and the Terms are your complete and final instructions for the Processing of Personal
                  Data as at the time this Addendum takes effect. Any additional or alternate instructions must be
                  agreed
                  between us and you separately in writing.</li>
                <li>We will not Process Personal Data other than on your Instructions unless required by any law to
                  which
                  we are subject, in which case we will to the extent permitted by applicable law inform you of that
                  legal
                  requirement before we Process that Personal Data.</li>
                <li>As required by article 28(3) of the GDPR (and, if applicable, equivalent requirements of other
                  Applicable Data Protection Laws), the nature and purpose of the Processing, the types of Personal Data
                  and categories of Data Subjects Processed under this Addendum are set out in Schedule 1. We may amend
                  Schedule 1 from time to time on written notice to you as we reasonably consider necessary to meet the
                  requirements of the GDPR (and applicable equivalent requirements of other Applicable Data Protection
                  Laws).</li>
                <li>The duration of Processing is limited to the duration of the Terms. Our obligations in relation to
                  Processing will continue until the Personal Data has been properly deleted or returned to you in
                  accordance with clause 11 of this Addendum.</li>
                <li>You are solely responsible for ensuring that your Instructions comply with Applicable Data
                  Protection
                  Laws. It is also your responsibility to enter into data processing agreements with other relevant Data
                  Controllers in order to allow us and our Sub-Processors to Process Personal Data in accordance with
                  this
                  Addendum.</li>
                <li>If, in our reasonable opinion, an Instruction infringes Applicable Data Protection Laws, we will
                  notify you as soon as reasonably practicable.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="sub-req"><b>DATA SUBJECT REQUESTS</b>
              <ol>
                <li>To the extent permitted by law, we will notify you promptly if we receive a request from a Data
                  Subject to exercise the Data Subject’s rights under Applicable Data Protection Laws relating to any
                  Personal Data <strong>(Data Subject Request).</strong></li>
                <li>Taking into account the nature of the Processing, we will assist you by implementing appropriate
                  technical and organisational measures, to the extent possible, to fulfil your obligation to respond to
                  a
                  Data Subject Request under Applicable Data Protection Laws.</li>
                <li>To the extent you do not have the ability to address a Data Subject Request, we will, on your
                  written
                  request, provide reasonable assistance in accordance with Applicable Data Protection Laws to
                  facilitate
                  that Data Subject Request. You will reimburse us for the costs arising from this assistance.</li>
                <li>We will not respond to a Data Subject Request except on your written request or if required by
                  applicable law. </li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="our-per"><b>OUR PERSONNEL</b>
              <ol>
                <li>We will:

                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>take reasonable steps to ensure the reliability of any of our Personnel engaged in the
                          Processing of Personal Data;</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>ensure that access to Personal Data is limited to our Personnel who require that access as
                          strictly necessary for the purposes of exercising our rights and performing our obligations
                          under the Terms;</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>ensure that our Personnel engaged in Processing Personal Data are subject to confidentiality
                          undertakings or professional or statutory obligations of confidentiality; and</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>ensure that our Personnel engaged in Processing Personal Data are informed of the
                          confidential
                          nature of the Personal Data and receive appropriate training on their responsibilities.</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>We have appointed a data protection officer who can be contacted at <a class="theme-color"
                    href="mailto: srinivas@goquo.com">srinivas@goquo.com.</a></li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="subprocessesors"> <b>SUBPROCESSESORS</b>
              <ol>
                <li>You acknowledge and agree that we may engage third party Sub-Processors in connection with the
                  provision of the Service.</li>
                <li> We have entered into (and will, for any new Sub-Processor, enter into) written agreements with each
                  Sub-Processor containing data protection obligations which offer at least the same level of protection
                  for Personal Data as set out in this Addendum and that meet the requirements of Article 28(3) of the
                  GDPR, as applicable to the nature of the services provided by that Sub-Processor.</li>
                <li> You may request copies of our written agreements with Sub-Processors (which may be redacted to
                  remove
                  confidential information not relevant to this Addendum). </li>
                <li> A list of current Sub-Processors for the Services as at Friday, 5 July 2019 is set out in Schedule 2. We
                  may update the list of Sub-Processors from time to time and, subject to clause 6.5, we will give at
                  least 30 days’ written notice of any new Sub-Processor. </li>
                <li> We may engage Sub-Processors as needed to serve as an Emergency Replacement to maintain and support
                  the Services. Emergency Replacement means a sudden replacement of a Sub-Processor where a change is
                  outside our reasonable control. In this case, we will inform you of the replacement Sub-Processor as
                  soon as reasonably practicable. </li>
                <li> If you object to any new Sub-Processor, you may, despite anything to the contrary in the Terms,
                  terminate these Terms and your right to access and use the Service without penalty on written notice,
                  provided (in the case of a new Sub-Processor notified under clause 6.4) your notice of termination is
                  received by us before the effective date of our notice under clause 6.4 or (in the case of a new
                  Sub-Processor notified under clause 6.5) your notice of termination is received by us within 30 days
                  of
                  our notice of the new Sub-Processor. If you do not terminate these Terms and your right to access and
                  use the Service in accordance with this clause, you are deemed to have agreed to the new
                  Sub-Processor.
                </li>
                <li> We are liable for the acts and omissions of our Sub-Processors to the same extent we would be
                  liable
                  if performing the services of each Sub-Processor directly under the terms of this Addendum, except as
                  otherwise set out in this Addendum.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="security"><b>SECURITY</b>
              <ol>
                <li>We will maintain technical and organisational measures to protect the confidentiality, integrity and
                  security of Personal Data (including protection against unauthorised or unlawful Processing and
                  against
                  accidental or unlawful destruction, loss or alteration or damage, unauthorised disclosure of, or
                  access
                  to, Personal Data), and to manage data security incidents affecting Personal Data, in accordance with
                  Appendix 2 of the Standard Contractual Clauses.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="sec-man"><b>SECURITY BREACH MANAGEMENT</b>
              <ol>
                <li>We will comply with all applicable laws requiring notification to you of any accidental or unlawful
                  destruction, loss, alteration, unauthorised disclosure of, or access to Personal Data Processed by us
                  or
                  our Sub-Processors of which we become aware (Breach Incident). </li>
                <li>We will make reasonable efforts to class="wow fadeInUp" data-wow-delay="0.2s" identify the cause of that Breach Incident, notify you within a
                  timely manner to allow you to meet your obligations to report a Breach Incident, and take steps we
                  consider necessary and reasonable to remediate the cause of the Breach Incident, to the extent
                  remediation is within our reasonable control.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="audit-com"> <b>AUDIT AND COMPLIANCE</b>
              <ol>
                <li>
      <div class="">`````````</div>            Upon your written request, we will, at your cost, submit to your audits and inspections, and provide
                  you
                  all information necessary, to demonstrate that both you and we are complying with our respective
                  obligations under Applicable Data Protection Laws (including our respective obligations under Article
                  28
                  of the GDPR).
                </li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="data-pro"> <b>DATA PROTECTION IMPACT ASSESSMENT</b>

              <ol>
                <li>Upon your written request, we will, at your cost, provide you with reasonable assistance needed to
                  fulfil your obligation under the GDPR to carry out a data protection impact assessment relating to
                  your
                  use of the Service, to the extent you do not otherwise have access to the relevant information.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="personal-data"> <b>RETURN AND DELETION OF PERSONAL DATA</b>

              <ol>
                <li>Subject to clauses 11.2 and 11.3, following termination of the Terms we will delete all Personal
                  Data
                  within a reasonable period from termination of the Terms.</li>
                <li>Subject to clause 11.3, you may submit a written request to us within 10 working days of the
                  termination of the Terms requiring us, within 20 working days of your written request, to:
                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>return a complete copy of all Personal Data by secure file transfer in a common format; and
                        </p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>delete all other copies of Personal Data Processed by us or any Sub-Processor.</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>We, or each Sub-Processor, may retain Personal Data to the extent that it is required by applicable
                  laws, provided that we ensure the confidentiality of all such Personal Data and ensure that such Data
                  is
                  only processed as necessary for the purposes required under applicable laws requiring its Processing
                  and
                  for no other purpose.</li>
                <li>If we cannot delete all Personal Data due to technical reasons, we will inform you as soon as
                  reasonably practicable and will take reasonably necessary steps to:
                  <div class="s-features__list list-sm mb-30">
                    <ul class="mt-4">
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>come as close as possible to a complete and permanent deletion of the Personal Data;</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>fully and effectively anonymise the remaining data; and</p>
                      </li>
                      <li class="align-items-start"><i class="icon icon icon-tick"></i>
                        <p>make the remaining Personal Data which is not deleted or effectively anonymised unavailable
                          for
                          future Processing.</p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="change-data"><b>CHANGES IN DATA PROTECTION LAWS</b>
              <ol>
                <li>We may on at least 30 days' written notice to you from time to time, make any variations to this
                  Addendum (including to the Standard Contractual Clauses), which we consider (acting reasonably) are
                  required as a result of any change in, or decision of a competent authority under, Applicable Data
                  Protection Law, to allow transfers and Processing of Personal Data to continue without breach of
                  Applicable Data Protection Law.</li>
                <li>If you object to any variation under clause 12.1, you may, despite anything to the contrary in the
                  Terms, terminate these Terms and your right to access and use the Service without penalty on written
                  notice, provided your notice of termination is received by us before the effective date of our notice.
                  If you do not terminate these Terms and your right to access and use the Service in accordance with
                  this
                  clause, you are deemed to have agreed to the variation.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="lim-liab"><b>LIMITATION OF LIABILITY</b>
              <ol>
                <li>The liability of each party to the other party under or in connection with this Addendum is subject
                  to
                  the limitations and exclusions set out in the Terms, and any reference in the Terms to the liability
                  of
                  a party means the aggregate liability of that party under the Terms and this Addendum together.</li>
              </ol>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s" id="general"><b>GENERAL</b>
              <ol>
                <li>If any provision of this Addendum is, or becomes unenforceable, illegal or invalid for any reason,
                  the
                  relevant provision is deemed to be varied to the extent necessary to remedy the unenforceability,
                  illegality or invalidity. If variation is not possible, the provision must be treated as severed from
                  this Addendum without affecting any other provisions of this Addendum.</li>
              </ol>
            </li>
          </ol>
        </div>
        <h4 class="wow fadeInUp" data-wow-delay="0.2s" id="schedule" class="theme-color mb-20">SCHEDULE 1</h4>
        <h5 class="mb-10">DETAILS OF PROCESSING</h5>
        <h6>Nature and Purpose of Processing</h6>
        <p>We will Process Personal Data as necessary to provide the Service in accordance with the Terms, as further
          specified in our online documentation relating to the Services, and as further instructed by you and your
          Personnel and other end users you allow to use the Service through the use of the Service. </p>
        <h6>Duration of Processing</h6>
        <p>Subject to clause 11 of this Addendum, we will Process Personal Data for the duration of the Terms, unless
          otherwise agreed upon in writing.</p>
        <h6>Categories of Data Subjects</h6>
        <p>You may submit Personal Data to the Service, the extent of which is determined and controlled by you in your
          sole discretion, and which may include, but is not limited to, Personal Data relating to the following
          categories of data subjects:</p>
        <div class="s-features__list list-sm mb-30">
          <ul class="mt-4">
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>you and your Personnel</p>
            </li>
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>your customers and end-users who interact with your website, mobile site, or your services through
                travel agents</p>
            </li>
          </ul>
        </div>
        <h6>Type of Data</h6>
        <p>You may submit Personal Data to the Service, the extent of which is determined and controlled by you in your
          sole discretion, and which may include, but is not limited to, the following categories of personal data: </p>
        <div class="s-features__list list-sm mb-30">
          <ul class="mt-4">
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>first and last name</p>
            </li>
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>contact information (email and phone number)</p>
            </li>
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>social media information</p>
            </li>
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>IP address and location</p>
            </li>
            <li class="align-items-start"><i class="icon icon icon-tick"></i>
              <p>web browser information</p>
            </li>
          </ul>
        </div>

        <h4 class="wow fadeInUp" data-wow-delay="0.2s" id="schedule" class="theme-color mb-20">SCHEDULE 2</h4>
        <h5 class="mb-10">DETAILS OF PROCESSING</h5>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sub-processor</th>
                <th scope="col">Location</th>
                <th scope="col">Purpose</th>
                <th scope="col">Policy pages</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 30%">Alphabet Inc</td>
                <td style="width: 10%">USA</td>
                <td style="width: 40%">Data hosting</td>
                <td style="width: 20%">Privacy Policy</td>
              </tr>
              <tr>
                <td>Mailgun Technologies Inc</td>
                <td>USA</td>
                <td>Email service provide</td>
                <td>Privacy Policy</td>
              </tr>
              <tr>
                <td>Wavecell PTE Limited</td>
                <td>Singapore</td>
                <td>Application programming interface services</td>
                <td>Privacy Policy</td>
              </tr>
              <tr>
                <td>OneSignal Inc</td>
                <td>USA</td>
                <td>Push notification services</td>
                <td>Privacy Policy</td>
              </tr>
              <tr>
                <td>Facebook</td>
                <td>USA</td>
                <td>Friday, 5 July 2019</td>
                <td>Data Policy</td>
              </tr>
              <tr>
                <td>Twitter</td>
                <td>USA</td>
                <td>Friday, 5 July 2019</td>
                <td>Privacy Policy</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="wow fadeInUp" data-wow-delay="0.2s" id="schedule" class="theme-color mt-20 mb-20">SCHEDULE 3</h4>
        <h5 class="mb-10">STANDARD CONTRACTUAL CLAUSES (PROCESSORS)</h5>
        <p>For the purposes of Article 26(2) of Directive 95/46/EC for the transfer of Personal Data to Processors
          established in third countries which do not ensure an adequate level of data protection. </p>
        <div class="card">
          <div class="card-body lh-2">
            <i>[Customer to complete the details below]</i><br />
            Name of the data exporting organisation: _ _ _ _ _ _ _ _ _ _ _<br />
            Address: _ _ _ _ _ _ _ _ _ _ _<br />
            Tel.: _ _ _ _ _ _; fax: _ _ _ _ _ _; e-mail: _ _ _ _ _ _ _ _ _<br />
            Other information needed to identify the organisation<br />
            _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ <br />
            (the <b>data exporter</b>)
            <br />
          </div>
        </div>
        <p><br />And</p>
        <p>Name of the data importing organisation: GoQuo (M) SDN. BHD</p>
        <p>Address: BO3-A-12-01, Menara 3A, No. 3 Jalan Bangsar, KL Eco City, 59200 Kuala Lumpur, Malaysia</p>
        <a class="theme-color" href="mailto: info@goquo.com"> E-mail:info@goquo.com.</a>
        <p>Other information needed to identify the organisation:</p>
        <p>a Malaysian company, company number 746011-A</p>
        <p>(the <b>data exporter</b>)</p>
        <p>each a <b>party</b>, together the <b>parties</b></p>
        <p>have agreed the following Standard Contractual Clauses (<b>Clauses</b>) in order to provide adequate
          safeguards
          with respect to the protection of privacy and fundamental rights and freedoms of individuals for the transfer
          by
          the Data Exporter to the Data Importer of the personal data specified in Appendix 1 of this Schedule 3.</p>
        <h6>Clause 1: Definitions</h6>
        <p>For the purposes of the Clauses:</p>

        <ol type="a" class="list-alpha">
          <li>personal data, special categories of data, process/processing, controller, processor, data subject and
            supervisory authority shall have the same meaning as in Directive 95/46/EC of the European Parliament and of
            the Council of 24 October 1995 on the protection of individuals with regard to the processing of personal
            data and on the free movement of such data; </li>
          <li>the data exporter means the controller who transfers the personal data;</li>
          <li>the data importer means the processor who agrees to receive from the data exporter personal data intended
            for processing on his behalf after the transfer in accordance with his instructions and the terms of the
            Clauses and who is not subject to a third country's system ensuring adequate protection within the meaning
            of Article 25(1) of Directive 95/46/EC; </li>
          <li>the subprocessor means any processor engaged by the data importer or by any other subprocessor of the data
            importer who agrees to receive from the data importer or from any other subprocessor of the data importer
            personal data exclusively intended for processing activities to be carried out on behalf of the data
            exporter after the transfer in accordance with his instructions, the terms of the Clauses and the terms of
            the written subcontract;</li>
          <li>the applicable data protection law means the legislation protecting the fundamental rights and freedoms of
            individuals and, in particular, their right to privacy with respect to the processing of personal data
            applicable to a data controller in the Member State in which the data exporter is established;</li>
          <li>technical and organisational security measures means those measures aimed at protecting personal data
            against accidental or unlawful destruction or accidental loss, alteration, unauthorised disclosure or
            access, in particular where the processing involves the transmission of data over a network, and against all
            other unlawful forms of processing.</li>
        </ol>
        <h6>Clause 2: Details of the transfer</h6>
        <p>The details of the transfer and in particular the special categories of personal data where applicable are
          specified in Appendix 1 which forms an integral part of the Clauses.</p>
        <h6>Clause 3: Third-party beneficiary clause</h6>

        <ol type="1" class="list-alpha">
          <li>The data subject can enforce against the data exporter this Clause, Clause 4b to i, Clause 5a to e, and g
            to j, Clause 6(1) and (2), Clause 7, Clause 8(2), and Clauses 9 to 12 as third-party beneficiary.</li>
          <li>The data subject can enforce against the data importer this Clause, Clause 5a to e and g, Clause 6, Clause
            7, Clause 8(2), and Clauses 9 to 12, in cases where the data exporter has factually disappeared or has
            ceased to exist in law unless any successor entity has assumed the entire legal obligations of the data
            exporter by contract or by operation of law, as a result of which it takes on the rights and obligations of
            the data exporter, in which case the data subject can enforce them against such entity.</li>
          <li>The data subject can enforce against the subprocessor this Clause, Clause 5a to e and g, Clause 6, Clause
            7, Clause 8(2), and Clauses 9 to 12, in cases where both the data exporter and the data importer have
            factually disappeared or ceased to exist in law or have become insolvent, unless any successor entity has
            assumed the entire legal obligations of the data exporter by contract or by operation of law as a result of
            which it takes on the rights and obligations of the data exporter, in which case the data subject can
            enforce them against such entity. Such third-party liability of the subprocessor shall be limited to its own
            processing operations under the Clauses.</li>
          <li>The parties do not object to a data subject being represented by an association or other body if the data
            subject so expressly wishes and if permitted by national law.</li>
        </ol>
        <h6>Clause 4: Obligations of the data exporter</h6>
        <p>The data exporter agrees and warrants: </p>
        <ol type="a" class="list-alpha">
          <li>that the processing, including the transfer itself, of the personal data has been and will continue to be
            carried out in accordance with the relevant provisions of the applicable data protection law (and, where
            applicable, has been notified to the relevant authorities of the Member State where the data exporter is
            established) and does not violate the relevant provisions of that State;</li>
          <li>that it has instructed and throughout the duration of the personal data processing services will instruct
            the data importer to process the personal data transferred only on the data exporter's behalf and in
            accordance with the applicable data protection law and the Clauses;</li>
          <li>that the data importer will provide sufficient guarantees in respect of the technical and organisational
            security measures specified in Appendix 2 to this contract;</li>
          <li>that after assessment of the requirements of the applicable data protection law, the security measures are
            appropriate to protect personal data against accidental or unlawful destruction or accidental loss,
            alteration, unauthorised disclosure or access, in particular where the processing involves the transmission
            of data over a network, and against all other unlawful forms of processing, and that these measures ensure a
            level of security appropriate to the risks presented by the processing and the nature of the data to be
            protected having regard to the state of the art and the cost of their implementation;</li>
          <li>that it will ensure compliance with the security measures;</li>
          <li>that, if the transfer involves special categories of data, the data subject has been informed or will be
            informed before, or as soon as possible after, the transfer that its data could be transmitted to a third
            country not providing adequate protection within the meaning of Directive 95/46/EC; </li>
          <li>to forward any notification received from the data importer or any subprocessor pursuant to Clause 5b and
            Clause 8(3) to the data protection supervisory authority if the data exporter decides to continue the
            transfer or to lift the suspension;</li>
          <li>to make available to the data subjects upon request a copy of the Clauses, with the exception of Appendix
            2, and a summary description of the security measures, as well as a copy of any contract for subprocessing
            services which has to be made in accordance with the Clauses, unless the Clauses or the contract contain
            commercial information, in which case it may remove such commercial information;</li>
          <li>that, in the event of subprocessing, the processing activity is carried out in accordance with Clause 11
            by a subprocessor providing at least the same level of protection for the personal data and the rights of
            data subject as the data importer under the Clauses; and</li>
          <li>that it will ensure compliance with Clause 4a to i.</li>
        </ol>
        <h6>Clause 5: Obligations of the data importer</h6>
        <p>The data exporter agrees and warrants: </p>
        <ol type="a" class="list-alpha">
          <li>to process the personal data only on behalf of the data exporter and in compliance with its instructions
            and the Clauses; if it cannot provide such compliance for whatever reasons, it agrees to inform promptly the
            data exporter of its inability to comply, in which case the data exporter is entitled to suspend the
            transfer of data and/or terminate the contract;</li>
          <li>that it has no reason to believe that the legislation applicable to it prevents it from fulfilling the
            instructions received from the data exporter and its obligations under the contract and that in the event of
            a change in this legislation which is likely to have a substantial adverse effect on the warranties and
            obligations provided by the Clauses, it will promptly notify the change to the data exporter as soon as it
            is aware, in which case the data exporter is entitled to suspend the transfer of data and/or terminate the
            contract;</li>
          <li>that it has implemented the technical and organisational security measures specified in Appendix 2 before
            processing the personal data transferred;</li>
          <li>that it will promptly notify the data exporter about:
            <div class="s-features__list list-sm">
              <ul class="mt-4">
                <li class="align-items-start"><i class="icon icon icon-tick"></i>
                  <p>any legally binding request for disclosure of the personal data by a law enforcement authority
                    unless otherwise prohibited, such as a prohibition under criminal law to preserve the
                    confidentiality of a law enforcement investigation,</p>
                </li>
                <li class="align-items-start"><i class="icon icon icon-tick"></i>
                  <p>any accidental or unauthorised access, and</p>
                </li>
                <li class="align-items-start"><i class="icon icon icon-tick"></i>
                  <p>any request received directly from the data subjects without responding to that request, unless it
                    has been otherwise authorised to do so;</p>
                </li>
              </ul>
            </div>
          </li>
          <li>to deal promptly and properly with all inquiries from the data exporter relating to its processing of the
            personal data subject to the transfer and to abide by the advice of the supervisory authority with regard to
            the processing of the data transferred;</li>
          <li>at the request of the data exporter to submit its data processing facilities for audit of the processing
            activities covered by the Clauses which shall be carried out by the data exporter or an inspection body
            composed of independent members and in possession of the required professional qualifications bound by a
            duty of confidentiality, selected by the data exporter, where applicable, in agreement with the supervisory
            authority;</li>
          <li>to make available to the data subject upon request a copy of the Clauses, or any existing contract for
            subprocessing, unless the Clauses or contract contain commercial information, in which case it may remove
            such commercial information, with the exception of Appendix 2 which shall be replaced by a summary
            description of the security measures in those cases where the data subject is unable to obtain a copy from
            the data exporter;</li>
          <li>that, in the event of subprocessing, it has previously informed the data exporter and obtained its prior
            written consent;</li>
          <li>that the processing services by the subprocessor will be carried out in accordance with Clause 11;</li>
          <li>to send promptly a copy of any subprocessor agreement it concludes under the Clauses to the data exporter.
          </li>
        </ol>
        <h6>Clause 6: Liability</h6>
        <ol type="1" class="list-alpha">
          <li>The parties agree that any data subject, who has suffered damage as a result of any breach of the
            obligations referred to in Clause 3 or in Clause 11 by any party or subprocessor is entitled to receive
            compensation from the data exporter for the damage suffered.</li>
          <li>If a data subject is not able to bring a claim for compensation in accordance with paragraph 1 against the
            data exporter, arising out of a breach by the data importer or his subprocessor of any of their obligations
            referred to in Clause 3 or in Clause 11, because the data exporter has factually disappeared or ceased to
            exist in law or has become insolvent, the data importer agrees that the data subject may issue a claim
            against the data importer as if it were the data exporter, unless any successor entity has assumed the
            entire legal obligations of the data exporter by contract of by operation of law, in which case the data
            subject can enforce its rights against such entity.The data importer may not rely on a breach by a
            subprocessor of its obligations in order to avoid its own liabilities.</li>
          <li>If a data subject is not able to bring a claim against the data exporter or the data importer referred to
            in paragraphs 1 and 2, arising out of a breach by the subprocessor of any of their obligations referred to
            in Clause 3 or in Clause 11 because both the data exporter and the data importer have factually disappeared
            or ceased to exist in law or have become insolvent, the subprocessor agrees that the data subject may issue
            a claim against the data subprocessor with regard to its own processing operations under the Clauses as if
            it were the data exporter or the data importer, unless any successor entity has assumed the entire legal
            obligations of the data exporter or data importer by contract or by operation of law, in which case the data
            subject can enforce its rights against such entity. The liability of the subprocessor shall be limited to
            its own processing operations under the Clauses.</li>
        </ol>
        <h6>Clause 7: Mediation and jurisdiction</h6>
        <ol type="1" class="list-alpha">
          <li>The data importer agrees that if the data subject invokes against it third-party beneficiary rights and/or
            claims compensation for damages under the Clauses, the data importer will accept the decision of the data
            subject:

            <div class="s-features__list list-sm">
              <ul class="mt-4">
                <li class="align-items-start"><i class="icon icon icon-tick"></i>
                  <p>to refer the dispute to mediation, by an independent person or, where applicable, by the
                    supervisory authority;</p>
                </li>
                <li class="align-items-start"><i class="icon icon icon-tick"></i>
                  <p>to refer the dispute to the courts in the Member State in which the data exporter is established.
                  </p>
                </li>
              </ul>
            </div>
          </li>
          <li>The parties agree that the choice made by the data subject will not prejudice its substantive or
            procedural rights to seek remedies in accordance with other provisions of national or international law.
          </li>
        </ol>
        <h6>Clause 8: Cooperation with supervisory authorities</h6>
        <ol type="1" class="list-alpha">
          <li>The data exporter agrees to deposit a copy of this contract with the supervisory authority if it so
            requests or if such deposit is required under the applicable data protection law.</li>
          <li>The parties agree that the supervisory authority has the right to conduct an audit of the data importer,
            and of any subprocessor, which has the same scope and is subject to the same conditions as would apply to an
            audit of the data exporter under the applicable data protection law.</li>
          <li>The data importer shall promptly inform the data exporter about the existence of legislation applicable to
            it or any subprocessor preventing the conduct of an audit of the data importer, or any subprocessor,
            pursuant to paragraph 2. In such a case the data exporter shall be entitled to take the measures foreseen in
            Clause 5b.</li>
        </ol>
        <h6>Clause 9: Governing Law</h6>
        <p>The Clauses shall be governed by the law of the Member State in which the data exporter is established.</p>
        <h6>Clause 10: Variation of the contract</h6>
        <p>The parties undertake not to vary or modify the Clauses. This does not preclude the parties from adding
          clauses on business related issues where required as long as they do not contradict the Clause.</p>
        <h6>Clause 11: Subprocessing</h6>
        <ol type="1" class="list-alpha">
          <li>The data importer shall not subcontract any of its processing operations performed on behalf of the data
            exporter under the Clauses without the prior written consent of the data exporter. Where the data importer
            subcontracts its obligations under the Clauses, with the consent of the data exporter, it shall do so only
            by way of a written agreement with the subprocessor which imposes the same obligations on the subprocessor
            as are imposed on the data importer under the Clauses. Where the subprocessor fails to fulfil its data
            protection obligations under such written agreement the data importer shall remain fully liable to the data
            exporter for the performance of the subprocessor's obligations under such agreement.</li>
          <li>The prior written contract between the data importer and the subprocessor shall also provide for a
            third-party beneficiary clause as laid down in Clause 3 for cases where the data subject is not able to
            bring the claim for compensation referred to in paragraph 1 of Clause 6 against the data exporter or the
            data importer because they have factually disappeared or have ceased to exist in law or have become
            insolvent and no successor entity has assumed the entire legal obligations of the data exporter or data
            importer by contract or by operation of law. Such third-party liability of the subprocessor shall be limited
            to its own processing operations under the Clauses.</li>
          <li>The provisions relating to data protection aspects for subprocessing of the contract referred to in
            paragraph 1 shall be governed by the law of the Member State in which the data exporter is established.</li>
          <li>The data exporter shall keep a list of subprocessing agreements concluded under the Clauses and notified
            by the data importer pursuant to Clause 5j, which shall be updated at least once a year. The list shall be
            available to the data exporter's data protection supervisory authority.</li>
        </ol>
        <h6>Clause 12: Obligation after the termination of personal data processing services</h6>
        <ol type="1" class="list-alpha">
          <li>The parties agree that on the termination of the provision of data processing services, the data importer
            and the subprocessor shall, at the choice of the data exporter, return all the personal data transferred and
            the copies thereof to the data exporter or shall destroy all the personal data and certify to the data
            exporter that it has done so, unless legislation imposed upon the data importer prevents it from returning
            or destroying all or part of the personal data transferred. In that case, the data importer warrants that it
            will guarantee the confidentiality of the personal data transferred and will not actively process the
            personal data transferred anymore.</li>
          <li>The data importer and the subprocessor warrant that upon request of the data exporter and/or of the
            supervisory authority, it will submit its data processing facilities for an audit of the measures referred
            to in paragraph 1.</li>
        </ol>
        <h6 class="mb-10">On behalf of the data exporter:</h6>
        <div class="card">
          <div class="card-body lh-2">
            <i>[Customer to complete the details below]</i><br />
            Name (written out in full): _ _ _ _ _ _ _ _ _ _ _<br />
            Position: _ _ _ _ _ _ _ _ _ _ _<br />
            Address: _ _ _ _ _ _ _ _ _ _ _ _<br />
            Other information needed to identify the organisation<br />
            _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ <br />
            Signature: _ _ _ _ _ _ _ _ _ _ _ _
            <br />
          </div>
        </div>
        <h6 class="mt-30 mb-10">On behalf of the data importer:</h6>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Name (written out in full)</th>
              <td>Srinivas Sri Perumbuduru</td>
            </tr>
            <tr>
              <th>Position</th>
              <td>Product Manager</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>BO3-A-12-01, Menara 3A, No. 3 Jalan Bangsar, KL Eco City, 59200 Kuala Lumpur, Malaysia</td>
            </tr>
          </tbody>
        </table>
        <p>Other information necessary in order for the contract to be binding (if any):</p>
        <p>Signature Friday, 5 July 2019</p>
      </div>

      <div class="mt-3 d-none d-sm-block col-sm-4 sticky-nav">
        <ul class="sticky-nav-lists">
          <li><a pageScroll [pageScrollOffset]="30" href="#app-add">1) Application of This Addendum</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#interpretation">2) Interpretation</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#per-data">3) Processing of Personal Data</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#sub-req">4) Data Subject Requests</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#our-per">5) Our Personnel</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#subprocessesors">6) Subprocessesors</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#security">7) Security</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#sec-man">8) Security Breach Management</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#audit-com">9) Audit and Compliance</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#data-pro">10) Data Protection Impact Assessment</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#personal-data">11) Return And Deletion Of Personal Data</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#change-data">12) Changes In Data Protection Laws</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#lim-liab">13) Limitation Of Liability</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#general">14) General</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#schedule">Schedule</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!-- Store-end -->
