<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner" [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="section__title text-center mb-50">
          <h3 class="wow fadeInUp" data-wow-delay="0.2s">Campaign Examples</h3>
          <p class="wow fadeInUp" data-wow-delay="0.4s">Here are a few basic examples of campaigns that Airlines can run with the help of Travlytix to make their campaigns a lot more personalized. To find out what other, even much more personlized campaigns are possible, please contact us by <a href="/demo"> <b><u>requesting a demo</u></b></a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider-area-end -->

<!-- features-area -->
<section id="features" class="features-area pt-110 pb-115">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="feature__nav campaings__nav">
          <div>
            <tabset>
              <tab>
                <ng-template tabHeading>
                  Abandoned Cart
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="img-fluid" [src]="'assets/img/campaigns/abandoned-cart.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="inner__features-content">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Segment</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Target customers who have selected dates and a destination and got all the way to the payment page, filled in their personal and payment details and then abandoned the booking due to various reasons.</p>
                        </div>
                        <div class="inner__features-content mt-5">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Campaign</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Send an email/sms or push notification to the customer saying <em>“We have noticed you haven’t booked your trip to (x) destination. Here is a (x) % discount if you book by today”. OR “Book soon as these dates/this destination is selling out fast.”</em></p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Special Offer
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                          <img class="img-fluid" [src]="'assets/img/campaigns/specialoffer.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="inner__features-content">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Segment</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Customer who has booked flights for a long Christmas break over the last three years.
                          </p>
                        </div>
                        <div class="inner__features-content mt-5">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Campaign</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Send an Email/SMS or Push Notification with a special Christmas offers saying: <em>”We have noticed your favourite time of the year to travel is Christmas so we have selected some special Christmas deals especially for you. Enjoy 10% off if you book today!”</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Meals
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                          <img class="img-fluid" [src]="'assets/img/campaigns/meals.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="inner__features-content">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Segment</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Target customers who have booked flights without booking a meal.
                          </p>
                        </div>
                        <div class="inner__features-content mt-5">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Campaign</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Send them an email/sms or push notification urging that they might have forgotten to buy meals and better to buy right now with a message like: <em>”We noticed you are going on your trip very soon. Make sure you secure your favourite meal by booking today and save 10%.”</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Baggage
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                          <img class="img-fluid" [src]="'assets/img/campaigns/baggage.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="inner__features-content">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Segment</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Target customers who have booked return flights for a trip that is longer than a week without booking baggage.
                          </p>
                        </div>
                        <div class="inner__features-content mt-5">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Campaign</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Send email/sms or push notification urging that they might have forgotten to buy baggage and better to buy right now with a message like: <em>”We noticed you are going on a holiday very soon. Make sure you  have space for all your belongings and souvenirs by booking baggage now and avoid higher charges at the airport!.”</em> 
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  Insurance
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                          <img class="img-fluid" [src]="'assets/img/campaigns/insurance.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="inner__features-content">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Segment</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Customers who have booked tickets without insurance cover.
                          </p>
                        </div>
                        <div class="inner__features-content mt-5">
                          <h5 class="wow fadeInRight" data-wow-delay="0.2s">Campaign</h5>
                          <p class="wow fadeInRight" data-wow-delay="0.4s">Send email/sms or push notification encouraging to buy insurance with a message like:<em>”Make sure you and your loved ones are well taken care of on your holidays”</em> or <em>“Buy insurance cover today and enjoy 5% off and enjoy your holiday with a peace of mind”.</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features-area-end -->