<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner"
  [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">Website Policy</h3>
  </div>
</section>
<!-- slider-area-end -->

<!-- About -->
<section class="pt-40 pb-40">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">
      <div class="col-sm-8 mt-3">
         <h4 class="wow fadeInUp" data-wow-delay="0.2s" id="introduction">INTRODUCTION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>GoQuo (M) Sdn. Bhd. (we, us, our) complies with the Singapore Personal Data Protection Act 2012 (Act) and
            the
            General Data Protection Regulation of the European Union (GDPR), when dealing with personal information.</p>
          <p>Personal information is information about an identifiable individual (a natural person), and includes
            personal data, personally identifiable information and equivalent information under applicable privacy and
            data protection laws.</p>
          <p> This policy does not limit or exclude any of your rights under the Act or the GDPR. For further
            information
            on the Act, see https://www.pdpc.gov.sg/Legislation-and-Guidelines/Personal-Data-Protection-Act-Overview.
            For
            further information on the GDPR, see https://ec.europa.eu/info/law/law-topic/data-protection_en.</p>
          <p>This policy was drafted with brevity and clarity in mind. It does not provide exhaustive detail of all
            aspects of our collection and use of personal information. We are happy to provide any additional
            information
            or explanation needed. Any request for further information should be sent to <a class="theme-color"
              href="mailto: aaron@goquo.com">aaron@goquo.com.</a></p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="change-policy">CHANGES TO THIS POLICY</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We may change this policy by uploading a revised policy onto our website. The change will apply from the
            date
            that we upload the revised policy. </p>
          <p> <strong>This policy was last updated on Friday, 5 July 2019.</strong></p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="pp-apply">WHEN DOES THIS PRIVACY POLICY APPLY</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>This privacy policy applies to personal information we collect from visitors to our website, our customers
            and other persons with whom we deal directly. In addition, users of our SaaS service may collect personal
            information from individuals (e.g. their employees and customers) and upload, store or process that
            information to or in that service (User Data). </p>
          <p> We require our customers to obtain the necessary consents from individuals to provide User Data to us and
            permit us to use it as set out in this privacy policy. If you have any concern about our collection and use
            of
            personal information about you contained in User Data, please contact us at <a class="theme-color"
              href="mailto: aaron@goquo.com">aaron@goquo.com.</a></p>
          <p>For the purposes of the GDPR, our customers are the data controller when storing or otherwise processing
            User
            Data that we hold solely for the purpose of providing our SaaS service and we are the data processor. We are
            the data controller when storing or otherwise processing User Data that we use for our own purposes.</p>
          <p>We only process User Data as authorised by our customers in our Travlytix SaaS terms of use (available at
            Friday, 5 July 2019) and/or other agreements with our customers that govern the processing of User Data (as
            applicable).
            Unless required otherwise under applicable law, if we receive any request or enquiry relating to User Data
            that we hold solely for the purpose of providing our SaaS service, we will forward this request to our
            relevant customer. If we receive any requests or enquiries relating to User Data that we use for our own
            purposes, we will deal with these requests or enquiries as set out in this privacy policy.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="children">CHILDREN</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We do not intend to collect personal information from or about children aged under 16. If you have reason
            to
            believe that we have collected personal information from or about a child under the age of 16, please
            contact
            us at aaron@goquo.com.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="personal-info-col">WHAT PERSONAL INFORMATION DO WE COLLECT</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p><strong>Directly from you</strong></p>
          <p>We collect the following information directly from you. </p>
          <p>When you fill in a contact or enquiry form on our website, call us, meet us in person or otherwise contact
            us, we collect your name and email address and any other information you choose to provide to us.</p>
          <p>Some of the personal information that we collect directly from you may be mandatory and some may be
            optional. We will let you know which of these applies at the time we collect the relevant personal
            information.
            While you do not have to provide us with some of the information that we may request, this might mean that
            our
            products and services may not perform as well as they should, or that we may not be able to provide some
            parts
            of the website or all of our products or services to you. If you require further information about the
            consequences of not providing us with any information, please contact us at <a class="theme-color"
              href="mailto: aaron@goquo.com">aaron@goquo.com.</a></p>
          <p><strong>Automatically when you use our website</strong></p>
          <p> When you access and use our website or related services we may automatically collect information about
            your
            device and usage of our website, products and services, including your IP address/operating system/browser
            type/time spent on certain pages of the website/pages visited/links clicked/language preferences.</p>
          <p>Some of this data is collected through third party tools and/or the use of cookies, web beacons and similar
            storage technologies. Please refer to our cookie policy below for further information, including information
            on how you can disable these technologies.</p>
          <p><strong>From third party sources</strong></p>
          <p>Where possible, we collect personal information from you directly. However, sometimes we may collect:</p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>personal information from third parties where you have authorised this. This may include accessing
                  certain personal information from third party social media or other authentication services (e.g.
                  Facebook, Google or LinkedIn) if you login to your account with us using these services or otherwise
                  provide us access to information from these sources. The third party provider that we use will be
                  displayed and you can visit its privacy policy for further details on how it deals with personal
                  information</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>personal information about you from our trusted advertising partners which may include demographic
                  information, browsing history, location and online behavioural or profile information</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>personal information that is publicly available e.g. through LinkedIn profiles or public directories
                </p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>personal information included in User Data.</p>
              </li>
            </ul>
          </div>
          <p>We may combine the personal information about you that we receive from third parties with the personal
            information we collect from you directly or with device and usage data we collect automatically when you
            visit
            our website.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="personal-info">HOW WE USE YOUR PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We may use your personal information to:</p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>verify your identity</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>provide our website, products and services to you</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>market our products and services to you, including contacting you electronically (e.g. by text or
                  email
                  for this purpose)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>improve our website, products and services</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>publish things on our website (e.g. comments on message boards or chat rooms)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>run promotions (e.g. referral and loyalty programmes, surveys and contests)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>undertake credit checks of you (if necessary)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>bill you and collect money that you owe us, including authorising and processing credit card
                  transactions</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>respond to communications from you, including enquiries and complaints</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>conduct research and statistical analysis (on an anonymised basis)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>tailor content or advertisements on our website to you</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>protect and/or enforce our legal rights and interests, including defending any claim</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>respond to lawful requests by public authorities, including to comply with law enforcement
                  requirements, or</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>for any other purpose authorised by you or applicable law.</p>
              </li>
            </ul>
          </div>
          <p>We may transfer your information in the case of a sale, merger, consolidation, liquidation, reorganisation
            or
            acquisition.</p>
          <p>You can stop receiving our marketing emails by following the unsubscribe instructions included in those
            emails.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="dis-personal-info">DISCLOSING YOUR PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We may disclose your personal information to:</p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>another company within our group</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>any business that supports our website, products and services, including any person that hosts or
                  maintains any underlying IT system or data centre that we use to provide our website, products or
                  services or that we use to process payments</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>third parties (for anonymised statistical information)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>professional advisers e.g. accountants, lawyers or auditors</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>a person who can require us to supply your personal information (e.g. a law enforcement agency or
                  regulatory authority)</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>any other person with your consent </p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>any other company in the case of a sale, merger, consolidation, liquidation, reorganisation or
                  acquisition</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>any other person authorised by applicable law.</p>
              </li>
            </ul>
          </div>
          <p>Also, we may share information about your use of our website with our trusted advertising and analytics
            partners through the use of cookies, web beacons, and similar storage technologies. Please refer to our
            cookie
            policy below for further information.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="tra-personal-info">INTERNATIONAL TRANSFERS OF PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>A business that supports our website, products and services may be located outside of Malaysia (the country
            where we are incorporated) and also outside of the country where you are located. This means that the
            personal
            information we collect may be transferred to, and stored in, a country outside of Malaysia and the country
            where you are located.</p>
          <p>If you are located in the European Economic Area (EEA), your personal information may be transferred
            outside
            of the EEA. Under the GDPR, the transfer of personal information to a country outside the EEA may take place
            where the European Commission has decided that the country ensures an adequate level of protection. In the
            absence of an adequacy decision, we may transfer personal information if other appropriate safeguards are in
            place.</p>
          <p>Where we transfer personal information outside the EEA, it will only be transferred to countries that have
            been identified as providing adequate protection for EEA data, or to a third party where approved transfer
            mechanisms are in place to protect your personal information (e.g. to organisations in the United States
            under
            the EU-U.S. Privacy Shield framework or by entering into the European Commission’s Standard Contractual
            Clauses. For further information, please contact at <a class="theme-color"
              href="mailto: aaron@goquo.com">aaron@goquo.com.</a></p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="pro-personal-info">PROTECTING YOUR PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>As required by applicable law, we will take steps to keep your personal information safe from loss,
            unauthorised activity, or other misuse. We implement appropriate technical and organisational measures to
            ensure a level of security appropriate to the risks inherent in processing personal information.</p>
          <p>You play an important role in keeping your personal information secure by maintaining the confidentiality
            of
            any password and accounts used in relation to our products and services. You should not disclose your
            password
            to third parties. Please notify us immediately if there is any unauthorised use of your account or any other
            breach of security.</p>
        </div>

         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="acc-personal-info">ACCESSING AND CORRECTING YOUR PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>Subject to certain grounds for refusal under applicable law, you have the right to access your personal
            information that we hold and to request a correction to your personal information. Before you exercise this
            right, we will need evidence to confirm that you are the individual to whom the personal information
            relates.</p>
          <p>Where you request a correction, if we think the correction is reasonable and we are reasonably able to
            change your personal information, we will make the correction. In all other cases, we will take reasonable
            steps to make a note of the personal information that was the subject of your correction request.</p>
          <p>If you want to exercise either of the above rights, email us at [insert email address]. Your email should
            provide evidence of who you are and set out the details of your request (e.g. the personal information to be
            corrected and the correction that you are requesting).</p>
          <p>Subject to applicable law, we may charge you our reasonable costs of providing to you copies of your
            personal information or correcting that information. </p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="other-rights">OTHER RIGHTS</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>In addition to the rights to access and correct your personal information, if you are based in the European
            Union, you have the additional rights set out in the GDPR Additional Terms section of this privacy policy
            below.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="int-use">INTERNET USE</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p> While we take reasonable steps to maintain secure internet connections, if you provide us with personal
            information over the internet, the provision of that information is at your own risk. </p>
          <p>If you post your personal information on our website’s message board or chat room, you acknowledge and
            agree
            that the information you post is publicly available.</p>
          <p>If you follow a link on our website to another website, the owner of that website will have its own privacy
            policy relating to your personal information. We suggest you review that website’s privacy policy before you
            provide personal information to that owner or website.</p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="ret-policy">DATA RETENTION POLICY</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>The personal information that we collect and use will not be kept longer than necessary for the purposes
            for
            which it is collected, or for the duration required for compliance with applicable law, whichever is longer.
          </p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="contact">CONTACTING US</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>If you have any question about this privacy policy, or our privacy practices, or if you would like to
            request
            access to, or correction of, your personal information, you can contact us at <a class="theme-color"
              href="mailto: aaron@goquo.com">aaron@goquo.com.</a></p>
          <p>The name and contact details of our Data Protection Officer for the purposes of the GDPR are:</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>Srinivas</td>
              </tr>
              <tr>
                <th scope="row">Email address</th>
                <td>srinivas@goquo.com</td>
              </tr>
              <tr>
                <th scope="row">Phone number</th>
                <td colspan="2">+601161565626</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-4 main-color"><b>GDPR ADDITIONAL TERMS</b></h4>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="basic-personal-info">LAWFUL BASIS FOR PROCESSING PERSONAL INFORMATION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>Our lawful basis for processing (as that term is defined in the GDPR) personal information that we collect,
            use and disclose depends on the personal information collected and the context in which we collect it. </p>
          <p>Generally, we collect personal information from you where we have your consent, where processing is
            necessary
            for the performance of a contract to which you are party or in order to take steps at your request prior to
            entering into a contract, or where processing is necessary for the purposes of our legitimate interests
            (except where such interests are overridden by your interests or fundamental rights and freedoms).</p>
          <p>Where we process personal information based on your consent, you may withdraw your consent at any time.</p>
          <p>Despite the above, we may process your personal information where such processing is necessary for
            compliance
            with applicable laws.</p>
          <p>If you have any question about the legal basis on which we process personal information or need further
            information, please contact us at <a class="theme-color" href="mailto: aaron@goquo.com">aaron@goquo.com.</a>
          </p>
        </div>
         <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s" id="under-gdpr">YOUR RIGHTS UNDER THE GDPR</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>If you are located in the European Union, your rights in relation to your personal information include:</p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right of access</strong> - if you ask us, we will confirm whether we are processing your
                  personal information and provide you with a copy of that personal information</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to rectification</strong> - if the personal information we hold about you is inaccurate
                  or incomplete, you have the right to have it rectified or completed. We will take reasonable steps to
                  ensure inaccurate personal information is rectified. If we have shared your personal information with
                  any third party, we will tell them about the rectification where possible</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to erasure</strong> – when your personal information is no longer needed for the
                  purposes
                  for which you provided it, we will delete it. You may request that we delete your personal information
                  and we will do so if deletion does not contravene any applicable law. If we have shared your personal
                  data with any third party, we will take reasonable steps to inform those third parties that they must
                  delete your personal information</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to withdraw consent</strong> - if the basis of our processing of your personal
                  information is consent, you can withdraw that consent at any time</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to restrict processing</strong> - you may request that we restrict or block the
                  processing of your personal information in certain circumstances. If we have shared your personal
                  information with any third party, we will tell them about this request where possible</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to object to processing</strong> - you may request that we stop processing your
                  personal
                  information at any time and we will do so to the extent required by the GDPR</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>rights related to automated decision-making, including profiling</strong> - you have the
                  right
                  to not be subject to a decision based solely on automated processing, including profiling, which
                  produces legal effects concerning you or similarly significantly affects you, except where such
                  automated decision-making is necessary for entering into, or the performance of, a contract with you,
                  is
                  authorised by applicable laws or is based on your explicit consent. We do not undertake automated
                  individual decision-making.</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>right to data portability</strong> - you may obtain your personal information from us that
                  you
                  have consented to give us or that is necessary to perform a contract with you. We will provide this
                  personal information in a commonly used, machine-readable and interoperable format to enable data
                  portability to another data controller. Where technically feasible, and at your request, we will
                  transmit your personal information directly to another data controller</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p><strong>the right to complain to a supervisory authority</strong> - you can report any concern you
                  have
                  about our privacy practices to your local data protection authority.</p>
              </li>
            </ul>
          </div>
          <p>Where personal information is processed for the purposes of direct marketing, you have the right to object
            to
            such processing, including profiling related to direct marketing.</p>
          <p>If you would like to exercise any of your above rights, please contact us at aaron@goquo.com. If you are
            not
            satisfied by the way we deal with your query, you may refer your query to your local data protection
            authority.</p>
        </div>
         <h4 class="wow fadeInUp mt-4 main-color" data-wow-delay="0.2s" id="cookie-policy"><b>Cookie policy</b></h4>
        <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s">INTRODUCTION</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We use cookies on our website and as part of our related services, and receive information collected
            through
            cookies. This cookie policy explains how we use cookies and how you can opt out of cookies.</p>
          <p> By continuing to use our website and related services, you indicate your agreement for us to use the
            cookies
            described below. </p>
          <p>We use the term cookies in this cookie policy to mean cookies or similar technologies such as web beacons,
            clear GIFs, and pixel tags.</p>
        </div>

        <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s">WHAT ARE COOKIES</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s" id>
          <p>Cookies are text files containing small amounts of information which are downloaded to your browsing
            device,
            e.g. a computer or smartphone, when you visit a website. Cookies can be recognised by the website that
            downloaded them, or by other websites that use the same cookies. This helps a website know if the browsing
            device has visited that or other websites before.</p>
          <p>Cookies can be used to collect information relating to your use of a website or your device, let you
            navigate
            between pages effectively, help to remember your preferences and generally improve your browsing experience.
            Cookies can also help ensure advertising you see online is more relevant to you and your interests. </p>
          <p>Cookies can be session or persistent cookies. Session cookies are temporary and only stay on your browser
            until you stop browsing. Persistent cookies stay on your device until they expire or are deleted. </p>
          <p>The cookies used on our website may be first party cookies (i.e. set by us) or third party cookies (i.e.
            cookies set on our website by a person other than us). The third party companies that place cookies on our
            website will have their own privacy policies.
          </p>
        </div>
        <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s">WHAT TYPES OF COOKIES DO WE USE</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s" id>
          <p>The types of cookies used by us, and most websites, can generally be categorised as follows.</p>
          <p><strong>Strictly necessary cookies</strong></p>
          <p>These cookies are essential for the full functionality of our website and related services. They enable you
            to navigate around our website and services and use their features e.g. accessing secure areas and enabling
            services that you have asked to receive. If you opt out of these cookies, you may not be able to access all
            the functions of our website and some services that you have asked to receive.</p>
          <p>These cookies do not track where else you have been on the internet and do not remember your preferences
            beyond your current visit. These cookies are generally first party session cookies which will expire when
            you close your browsing session. These cookies do not collect information that could be used for marketing
            purposes.</p>
          <p><strong>Functionality cookies</strong></p>
          <p>These cookies allow a website to remember choices you make and provide enhanced, more personal features.
            e.g. these cookies allow us to remember the settings you have applied to the website (such as font size,
            preferences or colours), identify whether you are a returning website visitor and present you with a
            personalised version of the website, or eliminate the need for you to re-enter your login details. The
            information these cookies collect is generally anonymous and they do not track your browsing activity on
            other websites. These cookies may be first or third party, session or persistent cookies.</p>
          <p><strong>Performance cookies</strong></p>
          <p>These cookies collect information about how you use a website, e.g. which pages are the most visited and if
            you receive any error message from any page. This information helps us improve the way our website and
            related services work and helps us manage the performance and design of the website and services. These
            cookies do not gather information that identifies you. All of the information these cookies collect is
            aggregated and anonymous. These cookies may be first or third party, session or persistent cookies.</p>
          <p><strong>Targeting cookies</strong></p>
          <p>Targeting cookies are used to present advertising that is relevant to you and your interests. These cookies
            collect information about your browsing habits e.g. the pages you have visited and the links you have
            followed across the internet. They may also be used to limit the number of times you see an advertisement
            and help measure the effectiveness of advertising campaigns. These cookies will usually be persistent but
            time-limited and may be placed on our website by third party service providers or advertising partners with
            our permission.</p>
          <p>We use targeting cookies to present interest-based advertising on our website and for retargeting. This is
            a form of interest-based advertising that enables our advertising partners to build a profile of your
            interests and show you advertising based on your browsing activity across the internet, including to allow
            us to advertise to people who previously visited our website.</p>
        </div>
        <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s">GOOGLE COOKIES</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <p>We use Google Analytics to collect information about visitors to our website. Google Analytics collects
            information related to your device, browser, IP address, network location, and website activities to measure
            and report statistics about your interactions on our website. We use this information to help us manage the
            performance and design of our website and to improve our website.</p>
          <p>We use Google Analytics Advertising Features, including Remarketing with Analytics, Demographic and
            Interests reporting in Analytics, Campaign Manager integration (formerly known as DoubleClick), Display &
            Video 360 integration, Google Display Network (GDN) Impression Reporting and Segments. We also use Google
            Ads. </p>
          <p>For further information on how Google uses your personal information when you use our website and how to
            opt out of Google’s use of cookies, see <a href="https://policies.google.com/" class="a-link"
              target="_blank">here</a>. In addition to the process described in this link, you can opt out using the
            process described below.</p>
          <h4 class="mt-4">HOW TO CONTROL OR OPT OUT OF COOKIES AND TARGETED ADVERTISING</h4>
          <p>You can control and/or delete cookies as you wish. You can delete all cookies that are already on your
            computer and you can set most browsers to prevent them from being placed. However, if you do this, you may
            have to manually adjust some preferences every time you visit our website and attempt use our services, you
            may not be able to access certain parts of our website or services, and some functionalities may not work.
          </p>
          <p>You can find out more information about how to change your browser cookie settings at <a
              href="http://www.aboutcookies.org.uk/" class="a-link" target="_blank">www.aboutcookies.org.uk.</a></p>
          <p>To learn more about how to control cookie settings through your browser:</p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>click <a href="https://support.mozilla.org/en-US/kb/private-browsing-use-firefox-without-history"
                    class="a-link" target="_blank">here</a> to learn more about the <b>Private Browsing</b> setting and
                  managing cookie settings in Firefox</p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>click <a href="https://support.google.com/chrome/answer/95647?hl=en" class="a-link"
                    target="_blank">here</a> to learn more about <b>Incognito</b> and managing cookie settings in Chrome
                </p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>click <a
                    href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies"
                    target="_blank" class="a-link">here</a> to learn more about <b>InPrivate</b> and managing cookie
                  settings in Internet Explorer
                </p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>click <a href="https://support.apple.com/en-nz/guide/safari/browse-in-private-ibrw1069/mac"
                    class="a-link" target="_blank">here</a> to learn more about <b>Private Browsing</b> and managing
                  cookie settings in Safari.</p>
              </li>
            </ul>
          </div>
          <p>You may opt out of targeted advertising at <a href="http://www.youronlinechoices.eu/" class="a-link"
              target="_blank">www.youronlinechoices.eu</a>. You can learn more about interest-based advertising and opt
            out of interest-based advertising from participating online advertising companies at the following links.
          </p>
          <div class="s-features__list list-sm mb-30">
            <ul class="mt-4">
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>Network Advertising Initiative (NAI) – <a href="http://optout.networkadvertising.org/" class="a-link"
                    target="_blank">optout.networkadvertising.org</a></p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>Digital Advertising Alliance (DAA) – <a href="http://optout.aboutads.info/" class="a-link"
                    target="_blank">optout.aboutads.info</a> </p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>Digital Advertising Alliance EU (EDAA) – <a href="http://www.youronlinechoices.com/" class="a-link"
                    target="_blank">www.youronlinechoices.com</a></p>
              </li>
              <li class="align-items-start"><i class="icon icon icon-tick"></i>
                <p>DAA AppChoices page – <a href="http://www.aboutads.info/appchoices" class="a-link"
                    target="_blank">www.aboutads.info/appchoices</a></p>
              </li>
            </ul>
          </div>
          <p>Please note that opting out of interest-based advertising does not mean you will no longer be served
            advertising. You will continue to receive generic ads.</p>
        </div>
        <h4 class="wow fadeInUp mt-4" data-wow-delay="0.2s">THIRD PARTY WEBSITE COOKIES</h4>
        <div class="wow fadeInUp" data-wow-delay="0.2s" id>
          <p>If you follow a link on our website to another website, the owner of that website will have its own
            cookies. We suggest you review that website’s cookie policy before you visit that website.</p>
        </div>
      </div>
      <div class="mt-3 d-none d-sm-block col-sm-4 sticky-nav">
        <ul class="sticky-nav-lists">
          <li><a pageScroll [pageScrollOffset]="30" href="#introduction">Introduction</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#change-policy">Changes To This Policy</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#pp-apply">When Does This Privacy Policy Apply</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#children">Children</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#personal-info-col">What Personal Information Do We
              Collect</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#personal-info">How We Use Your Personal Information</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#dis-personal-info">Disclosing Your Personal Information</a>
          </li>
          <li><a pageScroll [pageScrollOffset]="80" href="#tra-personal-info">International Transfers Of Personal
              Information</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#pro-personal-info">Protecting Your Personal Information</a>
          </li>
          <li><a pageScroll [pageScrollOffset]="80" href="#acc-personal-info">Accessing And Correcting Your Personal
              Information</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#other-rights">Other Rights</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#int-use">Internet Use</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#ret-policy">Data Retention Policy</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#contact">Contacting Us</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#basic-personal-info">Lawful Basis For Processing Personal
              Information</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#under-gdpr">Your Rights Under The GDPR</a></li>
          <li><a pageScroll [pageScrollOffset]="80" href="#cookie-policy">Cookie policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Store-end -->
