<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner" [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">Data Engineering for airlines</h3>
    <p class="wow fadeInUp" data-wow-delay="0.4s">Unify all customer data into single source of truth. Connect different data sources from every location and channel in real time to gain insights in milliseconds</p>
  </div>
</section>
<!-- slider-area-end -->
<!-- solution-process -->
<section class="top-process padding-mb pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single__bf mb-30">
          <div class="single__bf-icon mb-30 wow fadeInUp" data-wow-delay="0.2s">
            <img [src]="'assets/img/otherpages/icon/ingest.svg'" alt="ingest">
          </div>
          <div class="single__bf-content">
            <h3 class="wow fadeInUp" data-wow-delay="0.4s">Ingest</h3>
            <p class="wow fadeInUp" data-wow-delay="0.6s">Make every customer interaction count. Connect sources like Web, mobile, Loyalty, CRM, and other data sources and gather customer data in real time.</p>
          </div>
          <div class="single__arrow wow fadeInUp" data-wow-delay="0.8s">
            <i class="icon icon-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single__bf mb-30">
          <div class="single__bf-icon mb-30 wow fadeInUp" data-wow-delay="1.0s">
            <img [src]="'assets/img/otherpages/icon/process.svg'" alt="process">
          </div>
          <div class="single__bf-content">
            <h3 class="wow fadeInUp" data-wow-delay="1.2s">Process</h3>
            <p class="wow fadeInUp" data-wow-delay="1.4s">Process the data (aka match all users in real time) with previous behaviour, devices and other demographics.</p>
          </div>
          <div class="single__arrow wow fadeInUp" data-wow-delay="1.6s">
            <i class="icon icon-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single__bf mb-30">
          <div class="single__bf-icon mb-30 wow fadeInUp" data-wow-delay="1.8s">
            <img [src]="'assets/img/otherpages/icon/store.svg'" alt="Store">
          </div>
          <div class="single__bf-content">
            <h3 class="wow fadeInUp" data-wow-delay="2s">Store</h3>
            <p class="wow fadeInUp" data-wow-delay="2.2s">Single source of truth for storing all organized data. Simple, Secure and API friendly for different authenticated users to access and query data in real time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- solution-process-end -->

<!-- Ingest -->
<section id="ingest" class="grey-bg padding-mb pt-80 pb-80">
  <div class="container">
    <div class="row align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6">
        <div class="section__title s-featres-title mb-40 wow fadeInLeft" data-wow-delay="0.2s">
          <h2>Ingest</h2>
          <p>Recognise your data sources. Are they documents, social media, or clickstream logs? If so, ingest your data before you can effectively analyze and enrich it. To make sense of all the data you have, define a structure and correlate the disparate data sets. This important step involves both understanding and standardizing your data.
            </p>
        </div>
        <div class="s-features__list wow fadeInLeft" data-wow-delay="0.4s">
          <ul>
            <li>
              <i class="icon icon icon-tick"></i>
              <p> <strong>Detect Schema:</strong> Identify travel e-commerce schema and metadata that is explicitly defined in headers, fields, or tags</p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Identify Duplicates:</strong> Find and flag duplicates in data so to reduce the size of data lake.
                </p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Statistical Profiling:</strong> Create standard statistical analysis of numerical data, and frequency and term analysis of text data.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="single__features-img wow fadeInRight" data-wow-delay="0.2s">
          <img [src]="'assets/img/otherpages/ingest.svg'" class="img-fluid mb-20" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ingest-end -->

<!-- Process -->
<section class="pt-80 pb-80 padding-mb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
          <img [src]="'assets/img/otherpages/process.svg'" class="img-fluid" alt="process">
        </div>
      </div>

      <div class="col-md-6">
        <div class="section__title s-featres-title mb-40 wow fadeInRight" data-wow-delay="0.2s">
          <h2>Process</h2>
          <p>Crux of data engineering is data processing. After ingesting data, leverage any patterns and knowledge-based classifications to understand the domains found in your data sets.
            </p>
        </div>
        <div class="s-features__list wow fadeInRight" data-wow-delay="0.4s">
          <ul>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Match: </strong>Match unique users in real time to understand in-depth behaviour. 
                </p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Process:</strong> Handle multiple formats of data sources, whether their content is structured, semi-structured, or unstructured.</p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Cleanse:</strong> Remove non essential characters and standardize date formats.</p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Repair:</strong> Find and fix inconsistencies.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Process-end -->

<!-- Store -->
<section class="grey-bg pt-80 pb-80 padding-mb">
  <div class="container">
    <div class="row align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6">
        <div class="section__title s-featres-title mb-40 wow fadeInLeft" data-wow-delay="0.2s">
          <h2>Store</h2>
          <p>Store data in secure, clean and accessible way for usage. Publish data using API’s to different stakeholders for segmentation, automation, analysis and Data science. </p>
        </div>
        <div class="s-features__list wow fadeInLeft" data-wow-delay="0.24s">
          <ul>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Data warehouse:</strong> Store data in fast, highly Scalable, and cost effective data warehouse </p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>Query:</strong> Seamless data querying in seconds</p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p><strong>API:</strong> Secure way to access data for multiple stakeholders</p>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="single__features-img wow fadeInRight" data-wow-delay="0.2s">
          <img [src]="'assets/img/otherpages/store.svg'" class="img-fluid mb-20" alt="Store">
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Store-end -->