<!-- slider-area -->
<section id="hero" class="main-header slider-bg">
  <div class="container main-head-content">
    <div class="row align-items-top flex-column-reverse flex-md-row">
      <div class="col-md-7 ">
        <p class="white-color mb-4">Airline Customer Data Platform for boosting bookings and ancillary sales.</p>
        <div class="typed-text mb-4">
          <!-- hello&nbsp; --><span class="typed-element"></span></div>
        <!-- <a routerLink="/demo"> <span class="btn btn-primary btn-lg font-weight-normal">Request Demo</span> </a> -->
      </div>
      <div class="col-md-5">
        <img [src]="'assets/img/banner/home-banner.svg'" class="slider-mg img-fluid wow fadeInUp" data-wow-delay="0.2s'"
          alt="">
      </div>
    </div>
    <!-- <div class="wave-area">
      <div class="wave"></div>
      <div class="wave"></div>
    </div> -->
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</section>

<!-- client-logo -->
<section class="padding-mb s_features features-p pt-110 pb-80">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section__title s-featres-title text-center mb-40">
          <span class="wow fadeInUp" data-wow-delay="0.2s">Our Clients</span>
          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Trusted by top airlines</h2>
          <p class="wow fadeInUp" data-wow-delay="0.4s">Our clients analyze billions of user interactions and take
            data-driven actions to improve user journeys.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <tix-clients-scroll></tix-clients-scroll>
    </div>
  </div>
</section>
<!-- client-logo-end -->
<!-- software-features -->

<!-- Omni channel -->
<section class="p20 sub-header channel-marketing bg-fixed"
  [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
        <div class="section__title text-center mb-75">
          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Omni-Channel Marketing - Personalised</h2>
          <p class="wow fadeInUp" data-wow-delay="0.4s">Measure success in terms of the response of real people over
            time, in addition to measuring individual campaigns. Unleash the potential of data at customer level to
            target right message to right user in right time.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="tab-slider--nav">
          <ul class="tab-slider--tabs">
            <li class="tab-slider--trigger" *ngFor="let item of tabList; index as i;"
              [class.active]="viewMode == 'tab'+i" (click)="viewMode ='tab'+i">
              <i class="icon icon-{{item.icon}}"></i>
              <span>{{item.name}}</span>
            </li>
          </ul>
          <img class="mobile-frame" src="assets/img/client-mark/mobile-frame.svg" alt="">
          <div class="slider-img" [ngSwitch]="viewMode">
            <img class="wow fadeInUp" data-wow-delay="0.2s" *ngSwitchCase="'tab0'"
              src="assets/img/client-mark/mail-screen.svg" alt="img-icon">
            <img class="wow fadeInUp" data-wow-delay="0.2s" *ngSwitchCase="'tab1'"
              src="assets/img/client-mark/msg-screen.svg" alt="img-icon">
            <img class="wow fadeInUp" data-wow-delay="0.2s" *ngSwitchCase="'tab2'"
              src="assets/img/client-mark/pn-screen.svg" alt="img-icon">
            <img class="wow fadeInUp" data-wow-delay="0.2s" *ngSwitchCase="'tab3'"
              src="assets/img/client-mark/web-per-screen.svg" alt="img-icon">
            <img class="wow fadeInUp" data-wow-delay="0.2s" *ngSwitchCase="'tab4'"
              src="assets/img/client-mark/social-screen.svg" alt="img-icon">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tab-slider--container" [ngSwitch]="viewMode">
          <div *ngFor="let item of tabList; index as i;">
            <div *ngSwitchCase="'tab'+i">
              <h3 class="mb-4 wow fadeInRight" data-wow-delay="0.2s">{{item.name}}</h3>
              <div class="wow fadeInRight" data-wow-delay="0.4s">
                <p>{{item.disc}}</p>
                <div class="s-features__list channel-list wow fadeInRight mt-5" data-wow-delay="0.4s">
                  <ul>
                    <li *ngFor="let list of item.disclist">
                      <i class="icon icon icon-tick"></i>
                      <p> {{list}} </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Omni channel-end -->

<!-- software-features-end -->


<!-- features-area -->
<section id="features" class="features-area pt-110 pb-115">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="section__title text-center mb-75">
          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Intelligent Customer Data Platform</h2>
          <p class="wow fadeInUp" data-wow-delay="0.4s">Customised for airlines and traveltech</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="feature__nav">
          <div>
            <tabset>
              <tab>
                <ng-template tabHeading>
                  <i class="icon icon-megaphone"></i>Marketing Automation
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="img-fluid mt-5" [src]="'assets/img/features/dashboard.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="f-title">
                          <h2 class="wow fadeInRight" data-wow-delay="0.2s">Automate every customer interaction</h2>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-multiple-actions-view"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Turn visitors to customers</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Maximise every interaction’s value by
                              segmenting and adapting to customers’ intent in real
                              time</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-40 icon-target-people"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Target right customer at right time</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Use data driven decisions to reach
                              customers
                              at right time for maximising revenue</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-data"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Smart interactions via different channels
                            </h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Reach customers in their preferred
                              communication channels to get noticed </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="icon icon-study-brain"></i>Analytics and Machine learning
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="single__features-img wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="img-fluid mt-5" [src]="'assets/img/features/analytics.svg'" alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="f-title">
                          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Bring Data to life</h2>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-pie-line-graph"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Gain insights in seconds</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Track every single action - attribute and
                              report for better understanding across all
                              platforms</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-idea-settings"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Data Science in action</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Utilise the potential of data science and
                              machine learning to gain insights on
                              recommendations and prediction</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-data-file-bars-search"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Data Driven actions</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">No more guesswork, let data take
                              precedence in
                              deciding actions to be taken in marketing
                              and personalisation</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="icon icon-single-neutral-actions-refresh"></i>Customer 360
                </ng-template>
                <div class="single__features">
                  <div class="row">
                    <div class="col-xl-6">
                      <div data-wow-delay="0.2s" class="single__features-img wow fadeInLeft">
                        <img class="img-fluid mt-5" [src]="'assets/img/features/customer-360.svg'"
                          alt="image-dashboard">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="single__features-content">
                        <div class="wow fadeInRight" data-wow-delay="0.2s" class="f-title">
                          <h2>Comprehensive view of all customer</h2>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-bulb"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Insights on Customer</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Understand more about customers’ search
                              and
                              purchase patterns and utilise it for
                              upselling/cross selling</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-touch-id-user"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Identity resolution</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">De-duplicate and associate all customer
                              data
                              into identifiable insights</p>
                          </div>
                        </div>
                        <div class="inner__features">
                          <div class="icon-head wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="icon icon-32 icon-3d-print-monitor"></i>
                          </div>
                          <div class="inner__features-content">
                            <h5 class="wow fadeInRight" data-wow-delay="0.2s">Unifying Data</h5>
                            <p class="wow fadeInRight" data-wow-delay="0.4s">Connect all sources of data for a unique
                              view
                              - no more fragmented data</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features-area-end -->

<!-- blog-area -->
<section id="blog" class="blog-area grey-bg b-padding pt-110 pb-90" *ngIf="blogDataListing.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="section__title text-center mb-75">
          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Smarter Solutions</h2>
          <p class="wow fadeInUp" data-wow-delay="0.4s">Read latest posts from our blog about CDP, data science and
            data engineering.</p>
        </div>
      </div>
    </div>

    <div class="card-deck blog-card">
      <a class="card" *ngFor="let postData of blogDataListing | slice:0:4; let i=index;" target="_blank" [href]="[ postData.link ]">
        <img class="card-img-top" src="assets/img/blog/blog_0{{i+1}}.jpg" alt="blog image-{{i}}">
        <div class="card-body">
          <p class="card-text"><small class="text-muted"><i
                class="icon icon-calendar"></i>&nbsp;Posted&nbsp;{{postData.modified | date}}</small></p>
          <h5 class="card-title">{{postData.title.rendered}}</h5>
          <p class="card-text card-content"><span [innerHTML]="postData.excerpt.rendered"></span></p>
          <span class="theme-color card-link">Read More <i class="icon icon-arrow-right-1"></i></span>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- slider-area-end -->
