/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-social-media-facebook: unicode(ea02);
$icon-arrow-down-1: unicode(ea03);
$icon-arrow-down: unicode(ea04);
$icon-arrow-left-1: unicode(ea05);
$icon-arrow-left: unicode(ea06);
$icon-arrow-right-1: unicode(ea07);
$icon-arrow-right: unicode(ea08);
$icon-pin: unicode(ea09);
$icon-style-two-pin-plane: unicode(ea0a);
$icon-style-two-pin-world: unicode(ea0b);
$icon-road-sign-warning: unicode(ea0c);
$icon-study-brain: unicode(ea0d);
$icon-brain-network: unicode(ea0e);
$icon-social-profile-network: unicode(ea0f);
$icon-messages-bubble-square-text: unicode(ea10);
$icon-phone: unicode(ea11);
$icon-email-action-unread: unicode(ea12);
$icon-target-people: unicode(ea13);
$icon-single-neutral-actions-refresh: unicode(ea14);
$icon-single-neutral-actions-setting: unicode(ea15);
$icon-single-neutral-actions-time: unicode(ea16);
$icon-single-man-actions: unicode(ea17);
$icon-bulb: unicode(ea18);
$icon-idea-settings: unicode(ea19);
$icon-human-resources-workflow: unicode(ea1a);
$icon-seo-search-graph-first-place: unicode(ea1b);
$icon-data-file-bars-search: unicode(ea1c);
$icon-data-file-bars-settings: unicode(ea1d);
$icon-data-file-share: unicode(ea1e);
$icon-programming-search-browser: unicode(ea1f);
$icon-database-share: unicode(ea20);
$icon-brain-chip: unicode(ea21);
$icon-3d-print-monitor: unicode(ea22);
$icon-home: unicode(ea23);
$icon-pie-line-graph-desktop: unicode(ea24);
$icon-pie-line-graph: unicode(ea25);
$icon-touch-id-search: unicode(ea26);
$icon-touch-id-user: unicode(ea27);
$icon-navigation-menu: unicode(ea28);
$icon-cog: unicode(ea29);
$icon-cog-search: unicode(ea2a);
$icon-pencil: unicode(ea2b);
$icon-calendar: unicode(ea2c);
$icon-alarm-bell: unicode(ea2d);
$icon-search: unicode(ea2e);
$icon-bin: unicode(ea2f);
$icon-megaphone: unicode(ea30);
$icon-hierarchy: unicode(ea31);
$icon-data: unicode(ea32);
$icon-check-circle-1: unicode(ea36);
$icon-database-share-1: unicode(ea38);
$icon-tick: unicode(ea39);
$icon-multiple-actions-view: unicode(ea3a);
$icon-multiple-users-2: unicode(ea3b);
$icon-database-share-3: unicode(ea3c);
$icon-professional-network-linkedin: unicode(ea3d);
$icon-single-neutral-id-card-3: unicode(ea3e);

.icon-social-media-facebook::before {
  content: $icon-social-media-facebook;
}

.icon-arrow-down-1::before {
  content: $icon-arrow-down-1;
}

.icon-arrow-down::before {
  content: $icon-arrow-down;
}

.icon-arrow-left-1::before {
  content: $icon-arrow-left-1;
}

.icon-arrow-left::before {
  content: $icon-arrow-left;
}

.icon-arrow-right-1::before {
  content: $icon-arrow-right-1;
}

.icon-arrow-right::before {
  content: $icon-arrow-right;
}

.icon-pin::before {
  content: $icon-pin;
}

.icon-style-two-pin-plane::before {
  content: $icon-style-two-pin-plane;
}

.icon-style-two-pin-world::before {
  content: $icon-style-two-pin-world;
}

.icon-road-sign-warning::before {
  content: $icon-road-sign-warning;
}

.icon-study-brain::before {
  content: $icon-study-brain;
}

.icon-brain-network::before {
  content: $icon-brain-network;
}

.icon-social-profile-network::before {
  content: $icon-social-profile-network;
}

.icon-messages-bubble-square-text::before {
  content: $icon-messages-bubble-square-text;
}

.icon-phone::before {
  content: $icon-phone;
}

.icon-email-action-unread::before {
  content: $icon-email-action-unread;
}

.icon-target-people::before {
  content: $icon-target-people;
}

.icon-single-neutral-actions-refresh::before {
  content: $icon-single-neutral-actions-refresh;
}

.icon-single-neutral-actions-setting::before {
  content: $icon-single-neutral-actions-setting;
}

.icon-single-neutral-actions-time::before {
  content: $icon-single-neutral-actions-time;
}

.icon-single-man-actions::before {
  content: $icon-single-man-actions;
}

.icon-bulb::before {
  content: $icon-bulb;
}

.icon-idea-settings::before {
  content: $icon-idea-settings;
}

.icon-human-resources-workflow::before {
  content: $icon-human-resources-workflow;
}

.icon-seo-search-graph-first-place::before {
  content: $icon-seo-search-graph-first-place;
}

.icon-data-file-bars-search::before {
  content: $icon-data-file-bars-search;
}

.icon-data-file-bars-settings::before {
  content: $icon-data-file-bars-settings;
}

.icon-data-file-share::before {
  content: $icon-data-file-share;
}

.icon-programming-search-browser::before {
  content: $icon-programming-search-browser;
}

.icon-database-share::before {
  content: $icon-database-share;
}

.icon-brain-chip::before {
  content: $icon-brain-chip;
}

.icon-3d-print-monitor::before {
  content: $icon-3d-print-monitor;
}

.icon-home::before {
  content: $icon-home;
}

.icon-pie-line-graph-desktop::before {
  content: $icon-pie-line-graph-desktop;
}

.icon-pie-line-graph::before {
  content: $icon-pie-line-graph;
}

.icon-touch-id-search::before {
  content: $icon-touch-id-search;
}

.icon-touch-id-user::before {
  content: $icon-touch-id-user;
}

.icon-navigation-menu::before {
  content: $icon-navigation-menu;
}

.icon-cog::before {
  content: $icon-cog;
}

.icon-cog-search::before {
  content: $icon-cog-search;
}

.icon-pencil::before {
  content: $icon-pencil;
}

.icon-calendar::before {
  content: $icon-calendar;
}

.icon-alarm-bell::before {
  content: $icon-alarm-bell;
}

.icon-search::before {
  content: $icon-search;
}

.icon-bin::before {
  content: $icon-bin;
}

.icon-megaphone::before {
  content: $icon-megaphone;
}

.icon-hierarchy::before {
  content: $icon-hierarchy;
}

.icon-data::before {
  content: $icon-data;
}

.icon-check-circle-1::before {
  content: $icon-check-circle-1;
}

.icon-database-share-1::before {
  content: $icon-database-share-1;
}

.icon-tick::before {
  content: $icon-tick;
}

.icon-multiple-actions-view::before {
  content: $icon-multiple-actions-view;
}

.icon-multiple-users-2::before {
  content: $icon-multiple-users-2;
}

.icon-database-share-3::before {
  content: $icon-database-share-3;
}

.icon-professional-network-linkedin::before {
  content: $icon-professional-network-linkedin;
}

.icon-single-neutral-id-card-3::before {
  content: $icon-single-neutral-id-card-3;
}

