<!-- slider-area -->
<section id="sub-header" class="sub-header" role="banner"
  [style.backgroundImage]="'url(../../assets/img/bg/map-bg.png)'">
  <div>
    <h3 class="wow fadeInUp" data-wow-delay="0.2s">
      <p>What is the maximum length of an SMS?</p>
      <p>What is a concatenated message?</p>  
    </h3>
  </div>
</section>
<!-- slider-area-end -->

<!-- About -->
<section class="pt-40 pb-40">
  <div class="container">

    <div class="row flex-column-reverse flex-md-row">
      <div class="col-sm-8 col-md-9 mt-3">
        <h4 class="wow fadeInUp title-h4" data-wow-delay="0.2s" id="cty1">SMS Length </h4>
        <p class="wow fadeInUp" data-wow-delay="0.4s">SMS length depends on the type of characters you use. If you use tandard ACSII characters, an SMS has a limit of 160 characters.</p>
        <p class="wow fadeInUp" data-wow-delay="0.4s">If you use unicode characters (e.g. for Thai, Arabic, Chinese and Japanese), an SMS has a limit of 70 characters.</p>
        <p class="wow fadeInUp" data-wow-delay="0.4s">If you send or receive a message with more than 160 characters (or 70 unicode characters), one (1) message will be counted as two (2) SMS. </p>

        <h4 class="wow fadeInUp title-h4" data-wow-delay="0.2s" id="cty1">Concatenated messages </h4>
        <p class="wow fadeInUp" data-wow-delay="0.4s">Every additional SMS after the first 160 characters (or 70 unicode characters) is referred to as a concatenated message part.</p>
        <p class="wow fadeInUp" data-wow-delay="0.4s">The maximum number of concatenated message parts in a single text message is 20 parts.</p>
        <p class="wow fadeInUp" data-wow-delay="0.4s">Additionally, do note that the maximum length per concatenated message part is slightly reduced due to the inclusion of concatenation headers:</p>
        <div class="s-features__list wow fadeInLeft" data-wow-delay="0.4s">
          <ul>
            <li>
              <i class="icon icon icon-tick"></i>
              <p>152 characters for ASCII</p>
            </li>
            <li>
              <i class="icon icon icon-tick"></i>
              <p>66 characters for Unicode</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-5 d-none d-sm-block col-sm-4 col-md-3 sticky-nav">

      </div>
    </div>
  </div>
</section>
<!-- Store-end -->
